<%# new option set modal %>
<% if form_mode != :show && can?(:create, OptionSet) %>
  <div class="new_option_set_form_wrapper" title="<%= I18n.t("action_links.models.option_set.new") %>">
    <div class="modal fade" id="create-option-set" tabindex="-1" role="dialog" aria-labelledby="createOptionSet" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= t("action_links.models.option_set.new") %></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body option-set"><%# to be loaded on request %></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= I18n.t("common.close") %></button>
            <button type="button" class="btn btn-primary"><%= I18n.t("common.save") %></button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
<% end %>
