<% if read_only || cannot?(:update_core, @question) %>

  <ul class="tags">
    <% form.object.tags.each do |tag| %>
      <li class="token-input-token-elmo"><p><%= tag.name %></p></li>
    <% end %>
  </ul>

<% else %>

  <%= text_field(:question, :tag_ids, {class: 'text form-control'}) %>

<% end %>
