<% unless lang == :eng %>
  <tr>
    <td colspan="3">
      <h3><%= language_name(lang) %> Title &amp; Hint</h3>
    </td>
  </tr>
<% end %>
<tr>
  <td class="name">Title <% if lang == :eng %><%= reqd_sym %><% end %></td>
  <td class="value"><%= f.text_area("name_#{lang}", :class => "name_hint") %></td>
  <td class="details">
    <% if lang == :eng %>The main question text, e.g. "How many people are in line?"<% end %>
  </td>
</tr>
<tr>
  <td class="name">Hint</td>
  <td class="value"><%= f.text_area("hint_#{lang}", :class => "name_hint") %></td>
  <td class="details">
    <% if lang == :eng %>Additional instructions, e.g. "Enter an approximate count of the people waiting to vote."<% end %>
  </td>
</tr>