<% @title_args = {:code => @question.code, :standardized => @question.standardized?} %>

<%= flash_and_form_errors(@question) %>

<%= elmo_form_for(@question) do |f| %>
  <%# fields are contained in a partial because they are also used in the questioning form %>
  <%= render('fields', :f => f) %>
  <div class="submit-buttons">
    <%= f.submit(:class => 'btn btn-primary') %>
  </div>
<% end %>