        <%# @form.qing_groups.each do |qing_group|%>
         <li class="form-group form-item">
            <div class="form-item-content">

              <%# Spacing placeholder for styling purposes %>
              <div class="standardized"></div>

              <div class="type">
                <%= form_item_icon('group') %>
              </div>

              <div class="base-info">
                <span class="name"><%= @qing_group.group_name %></span>
              </div>

            <%# Edit and delete %>
             <%#= edit_qing_group_path(@qing_group) or "../../@{qing_group}/edit" for testing %>

             <a class="edit">For testing: Edit modal</a>

              <% if form_mode == :edit && !@qing_group.new_record? %>
              <div class="actions">
                <%= link_to content_tag(:i, '', class: 'fa fa-pencil'),
                  edit_qing_group_path(@qing_group), class: 'edit' %>

                <% if @qing_group.new_record? || !@qing_group.has_children? %>
                  <%= link_to content_tag(:i, '', class: 'fa fa-trash-o'), @qing_group, method: :delete, confirm: I18n.t("activerecord.attributes.qing_group.delete",
                  name: @qing_group.group_name) %>
                <% end %>
              </div>
              <% end %>
            </div> <%# End of form group info %>

              <ol class="item-list">
                <%#= render('form_question') %>
              </ol>
            </li>
        <%# end %>
