        <%# @form.qing_groups.each do |qing_group| %>
         <li class="form-group form-item">
            <div class="form-item-content">

              <%# Standard group? %>
              <i class="standardized fa fa-certificate"></i>

              <div class="type">
                <%= form_item_icon('group') %>
              </div>

              <div class="base-info">
                <span class="name"><%#= qing_group.group_name %></span>
              </div>

            <%# Edit and delete %>
              <div class="actions">
                <%#= link_to content_tag(:i, '', class: 'fa fa-pencil'), 'qing_group_path(qing_group)', method: :edit %>

                <%# if qing_group.has_children? == false %>
                  <%#= link_to content_tag(:i, '', class: 'fa fa-trash-o'), qing_group_path(qing_group), method: :delete, data: { confirm: I18n.t("activerecord.attributes.qing_group.delete") + ' "' + qing_group.group_name + '"?'} %>
                <%# end %>
              </div>
            </div> <%# End of form group info %>

              <ol class="item-list">
                <li>Test</li>
                <%#= render('form_question') %>
              </ol>
            </li>
          <%# end %>
        <%# end %>
