<h2 class="interior"><%= translate_model(Report::Report) %>: <%= @report.name %></h2>
<% if can?(:update, @report) %>
  &nbsp;&nbsp;<%= action_link('edit', edit_report_report_path(@report), :title => t('report/report.edit_report')) %>
<% end %>

<div class="report_main">
  <%= render('report/reports/main') %>
</div>
