<%= elmo_form_for(@password_reset, :style => :minimal) do |f| %>
  <p class="instructions"><%= t("password_reset.fill_out_form") %></p>
  <%= f.field(:email) %>
  <div class="submit-buttons">
    <%= f.submit(:send, :class => "btn btn-primary") %>
  </div>
<% end %>