<%# don't print usual title because each instruction box has its own title %>
<% @dont_print_title = true %>

<div id="login_instructions">
  <div id="preamble">
    <p><%= t("user.login_instructions.preamble_plural") %></p>
    <p><%= link_to(t("user.back_to_index"), users_path) %></p>
  </div>

  <% @user_import.lines.each do |line| %>
    <%= render("users/login_instruction_box", :user => line[:user], :password => line[:user].password) %>
  <% end %>
</div>
