<%= elmo_form_for(@option_set_import, :html => {:multipart => true}) do |f| %>
  <p class="instructions"><%= simple_format(t('option_set_import.instructions_html', url: template_option_set_imports_path(format: 'xlsx')), { }, :sanitize => false) %></p>
  <%= render("file_upload/operation_file_uploader", form: f, operation_type_prefix: "option_set_imports", post_path: option_set_imports_path) %>
<% end %>
