<% @title = t("user_batches.title") %>
<div id="login_instructions">
  <div id="preamble">
    <%= t("users.login_instructions.preamble_plural") %>
    <p><%= link_to(t("users.back_to_index"), users_path) %></p>
  </div>

  <% @user_batch.created_users.each do |u| %>
    <%= render("users/login_instruction_box", :user => u, :password => u.password) %>
  <% end %>
</div>