<%= flash_and_form_errors %>
<div id="login_instructions">
  <div id="preamble">
    <%= t("user.login_instructions.preamble_plural") %>
    <p><%= link_to(t("user.back_to_index"), users_path) %></p>
  </div>

  <% @user_batch.lines.each do |line| %>
    <%= render("users/login_instruction_box", :user => line[:user], :password => line[:user].password) %>
  <% end %>
</div>