<div id="upload-progress-notice" class="btn btn-secondary" disabled="disabled">
  <%= image_tag("load-ind-small.gif") %>
  <%= t("common.upload_progress_notice.#{single_file ? "one" : "other"}") %>
</div>
