#userinfo, #title, #footer, nav { display: none; }

.top-action-links { display: none; }

/* login instructions */
.user_batches_show h1.title { display: none; }

#login_instructions {
  #preamble {
    display: none;
  }

  #instructions {
    page-break-after: always;
  }

  .masked {
    display: none;
  }

  .unmasked {
    display: inline !important;
  }

  a.toggle_mask {
    display: none;
  }
}

/* hide screen-only things */
.screen { display: none; }

/* reports */
div.report_edit_dialog, div.report_edit_pane { display: none !important; }

@page {
  /* print margins */
  margin: 15mm 15mm 15mm 15mm;
}
