<% if @report.references? %>
  <td class="reference">
    <% if summary.questioning.reference.present? %>
      <a href="<%= summary.questioning.reference %>" target="_blank"><i class="fa fa-book"></i></a>
    <% end %>
  </td>
<% end %>
