#user-groups-modal {
  .name_col {
    .field_container {
      width: 100%;

      input {
        float: left;
        width: 90%;
      }

      a {
        display: inline-block;

        i {
          float: right;
          font-size: 1.5em;
        }
      }
    }
  }
}
