.response-form {
  @mixin group-question-hint {
    color: $gray-text;
    font-style: italic;
  }

  @include hint-icon; // Used at the bottom of form for the incomplete answer checkbox.

  .answer-group > .hint {
    @include group-question-hint;
    margin-bottom: 20px;
  }

  .answer > .hint {
    @include group-question-hint;
    margin-bottom: 5px;
  }
}
