.response-form {
  .media-thumbnail {
    display: block;
    height: 100px;
    margin: 0;
    width: inherit;

    i.fa {
      display: block;
      font-size: 16px;
      margin-bottom: 5px;
    }

    img {
      display: block;
      float: left;
      height: 100px;
    }

    .links {
      margin-left: 105px;
    }
  }
}
