.response-form {
    // TODO: Reduce duplication between thumbnail and dz-preview
  .media-thumbnail {
    display: block;
    height: 100px;
    margin: 0;
    width: inherit;

    i.fa {
      display: block;
      font-size: 16px;
      margin-bottom: 5px;
    }

    img {
      display: block;
      float: left;
      height: 100px;
      width: 100px;
    }

    .links {
      margin-left: 105px;
    }
  }

  .dropzone {
    background-color: $white;
    border: 1px dashed $mid-gray;
    cursor: pointer;
    min-height: 50px;
    padding: 5px;

    &.dz-max-files-reached {
      cursor: default;
    }

    &.dz-started {
      background-color: inherit;
      border: 0;
      padding: 0;
    }

    &.dz-drag-hover {
      background: $light-gray;
    }
  }

  .dz-preview {
    display: block;
    height: 100px;
    margin: 0;
    width: inherit;

    &.dz-success .dz-progress .dz-upload {
      background: $theme-main-darker;
    }

    img {
      display: block;
      float: left;
      height: 100px;
      margin-right: 5px;
      width: 100px;
    }

    i.fa {
      font-size: 16px;
      margin-bottom: 5px;
    }

    .dz-details {
      margin-left: 105px;
    }

    .dz-size {
      color: $gray-text;

      strong {
        font-weight: normal;
      }
    }

    .dz-progress {
      margin: 5px 0;

      .dz-upload {
        background: $theme-main;
      }
    }

    a.hint,
    span.message {
      color: $gray-text;
    }

    a.hint {
      text-decoration: underline;
    }

    div.error-msg {
      color: $theme-red;
      display: none;
      margin-top: 5px;
    }
  }

  #upload-progress-notice {
    display: none;
    font-style: italic;
  }
}
