// Counter in the group header bar, for repeat groups only.
.response-form {
  .answer-group-set {
    counter-reset: item;
  }

  .answer-group.repeat-item > .group-header {
    h2::after {
      content: ' (' counter(item) ')';
      counter-increment: item;
    }
  }
}
