<div class="modal fade edit-named-item" id="edit-option-level" tabindex="-1" role="dialog"
  aria-labelledby="editOptionLevel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= elmo_fields_for(:option_level, @blank_option_level) do |f| %>
          <div class="fields">
            <% current_mission_config.preferred_locales.each do |locale| %>
              <%= f.field(:"name_#{locale}", maxlength: Option::MAX_NAME_LENGTH,
                                             wrapper_class: "translation",
                                             label: language_name(locale),
                                             unnamed: true,
                                             data: {locale: locale}) %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <%= I18n.t("common.cancel") %>
        </button>
        <button type="button" class="btn btn-primary">
          <%= I18n.t("common.save") %>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
