<div class="field_container">
  <%= text_field(:user_group, :name, class: "form-control") %>
  <%= link_to(user_group_path(@user_group), class: "update-name") do %>
    <i class="fa fa-fw fa-save"></i>
  <% end %>
</div>
