$orange: #F77D48;
$theme_green: #9dc400;
$elmo-blue: #879CAA;

@mixin action-links {
  margin-bottom: 10px;

  a {
    display: inline-block;
    margin: 0 10px 5px 0;

    &:hover {
      color: $orange;
    }

    i {
      color: $orange;
      font-size: 110%;
      margin-right: 3px;
    }
  }
}
