$orange: #F77D48;

$list-item-background: #eee;

@mixin draggable-list {
  margin: 5px 0;
  min-height: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  border: 1px solid #CCC;
  background: $list-item-background;
  cursor: default;
}

@mixin action-links {
  margin-bottom: 10px;

  a {
    display: inline-block;
    margin: 0 10px 5px 0;

    &:hover {
      color: $orange;
    }

    i {
      color: $orange;
      font-size: 110%;
      margin-right: 3px;
    }
  }
}
