/* STYLES FOR DASHBOARD */

body.dashboard {
  /* hide most template components */
  div#nav, div#userinfo, div#footer {
    display: none;
  }

  /* reduce margin on title and content */
  div#title {
    margin-left: 10px;
  }

  div#content {
    margin-left: 0;
  }

  /* close link */
  a.close_dashboard {
    position: absolute;
    top: 3px;
    right: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
  }
  
  h2 {
    color: #888;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 18px;
  }
  
  /* columns */
  div.col {
    display: inline-block;
    vertical-align: top;
    
    &.left_col {
      width: 611px;
      padding-right: 20px;
    }

    &.right_col {
      width: 811px;
    }
  }
  
  /* responses index table */
  table.index_table {
    td {
      width: 100px;
      
      > div {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    
    td.reviewed_col {
      width: 50px;
      > div { width: 50px; }
    }

    td.age_col {
      width: 75px;
      > div { width: 75px; }
    }
  }
  
  /* map */
  div.response_locations {
    width: 611px;
    height: 400px;
  }
  
  /* map info window */
  div.info_window {
    width: 275px;
    height: 130px;
    
    h3 {
      margin-bottom: 10px;
    }
    
    table {
      width: 100%;
      
      td:first-child {
        font-size: 11px;
        padding-right: 10px;
        height: 20px;
      }
      
      td:last-child {
        font-weight: bold;
      }
    }
  }
  
  form.report_chooser {
    float: right;
  }
  
}