$orange: #F77D48;

/* base errors may appear outside the form. left margin should be cancelled when inside form */
div.form-errors {
  margin-left: 35px;
  font-weight: bold;
  color: #CC3232;
  margin-bottom: 5px;
}

/* standardize specific form widths */
form.response_form, form.question_form, form.form_form, form.option_set_form, form.user_form, form.broadcast_form, form.user_batch_form, form.setting_form, form.mission_form, form.user_session_form, form.questioning_form {
  width: 650px;
  .form-control {
    display: inline-block;
  }
}


/* Custom tweaks to forms */
form#new_response {
  .form-control {
    display: inline-block;
    width: 93%;
  }
}

.forms_edit form.form_form {
  width: 100%;
}

/* login form does not have hints */
#new_user_session {
  input.text {
    width: 450px !important;
  }
}

div.form_field {
  /* the field div itself should not wrap, but we don't want this to inherit */
  white-space: nowrap;

  > * {
    white-space: normal;
  }

  div.form-errors {
    /* cancel the left margin for form errors inside a form_field */
    margin-left: 0;
  }

  div.reqd_sym {
    display: inline;
    font-weight: bold;
    color: $orange;
    font-size: 125%;
    line-height: 5px;
    vertical-align: middle;
  }

  label, .control {
    vertical-align: top;
    padding: 5px 0;
  }

  .label_and_control {
    display: inline-block;

    /* ensures label stays next to control */
    white-space: nowrap;

    label, .control {
      /* allows normal wrapping inside of the the label and control */
      white-space: normal;
    }
  }

  /* for rich text editor */
  .cke {
    display: inline-block;
    vertical-align: top;
    width: 415px;
  }

  label.main {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    padding-right: 10px;
    text-align: right;
  }

  div.control {
    display: inline-block;
    vertical-align: middle;
    width: 450px;
    min-height: 26px;
    position: relative;

    label {
      font-weight: normal;
    }

    .widget {
      display: inline-block;
      vertical-align: top;


      input[type='text'], select, textarea input.text, textarea {
        width: 420px;
        height: 35px;
      }

      textarea {
        height: 100px;
      }
    }

  }
  /* Override for multiple selects */
  &.qtype_select_multiple .widget {
      vertical-align: top !important;
    }

  div.control input.text {
    padding: 3px;
  }

  /* nice kooshy padding */
  input[type=text], input[type=password], textarea, select {
    margin-bottom: 5px;
    padding: 3px;
  }

  div.control input.radio {
    width: 15px;
  }

  div.space_line {
    margin: 0;
    padding: 0;
    width: auto;
  }


}

form input[type="submit"].btn-primary {
  background-color: $orange;
  border: 0px;
}

form {
  div.submit-buttons {
    text-align: right;
    margin-top: 20px;
  }

  input.btn-primary {
    padding: 6px 35px;
  }

}

form.response_form {
  width: 750px;
  label.main {
    width: 300px;
  }
}


#question_option_set_id {
  width: 300px;
  display: inline-block;
}



div.settings_index {
  a.password {
    margin-left: 150px;
  }
}

div.data_integrity_warning {
  margin: 10px 0;
  width: 100%;

  i {
    display: block;
    float: left;
    font-size: 14px;
    margin-top: 1px;
  }

  & > div {
    margin-left: 20px;
  }
}
