$orange: #F77D48;

div.form_field {
  /* the field div itself should not wrap, but we don't want this to inherit */
  white-space: nowrap;

  > * {
    white-space: normal;
  }

    div.form-errors {
    font-weight: bold;
    color: #CC3232;
    margin-bottom: 5px;
  }

  div.reqd_sym {
    display: inline;
    font-weight: bold;
    color: $orange;
    font-size: 125%;
    line-height: 5px;
    vertical-align: middle;
  }

  label, .control, .hint {
    vertical-align: top;
    padding: 5px 0;
  }

  .label_and_control {
    display: inline-block;

    /* ensures label stays next to control */
    white-space: nowrap;

    label, .control {
      /* allows normal wrapping inside of the the label and control */
      white-space: normal;
    }
  }

  label.main {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    padding-right: 10px;
    text-align: right;
  }

  div.control {
    display: inline-block;
    vertical-align: middle;
    width: 350px;
    min-height: 26px;
    position: relative;

    label {
      font-weight: normal;
    }
  }

  div.control input.text {
    padding: 3px;
  }

  /* nice kooshy padding */
  input[type=text], input[type=password], textarea, select {
    margin-bottom: 5px;
    padding: 3px;
  }

  div.control input.radio {
    width: 15px;
  }

  div.hint {
    display: inline-block;
    width: 290px;
    position: relative;
    font-size: 90%;
    background-color: #e4eeff;
    padding: 5px;
    margin: 0 0 5px 5px;

    p {
      padding: 0;
      margin: 0;
    }
  }

  div.space_line {
    margin: 0;
    padding: 0;
    width: auto;
  }


}

form input[type="submit"].btn-primary {
  background-color: $orange;
  border: 0px;
}

form {
  div.submit-buttons {
    text-align: right;
    margin-top: 20px;
  }

  &.form_form, &.question_form, &.option_set_form, &.user_form, input.btn-primary {
    padding: 6px 35px;
  }

  &.form_form div.submit-buttons {
    width: 500px;
  }

  &.form_form div.submit-buttons.publish {
    width: 100%;
  }

  &.question_form div.submit-buttons {
    width: 625px;
  }

  &.option_set_form div.submit-buttons {
    width: 575px;
  }

  &.user_form div.submit-buttons {
    width: 645px;
  }

  &.user_batch_form div.submit-buttons {
    width: 650px;
  }

  &.broadcast_form div.submit-buttons {
    width: 500px;
  }

  &.user_session_form div.submit-buttons {
    width: 500px;
  }

  &.setting_form div.submit-buttons{
    width: 500px;
  }

  &.mission_form div.submit-buttons {
    width: 500px;
  }



}


#question_option_set_id {
  width: 73%;
  display: inline-block;
}



div.settings_index {
  a.password {
    margin-left: 150px;
  }
}

div.data_integrity_warning {
  background-color: #e4eeff;
  padding: 5px;
  margin: 10px 0;
  max-width: 800px;

  i {
    display: block;
    float: left;
    font-size: 14px;
    margin-top: 1px;
  }

  & > div {
    margin-left: 20px;
  }
}
