.modal {

  .elmo_form {
    width: auto;

    .form_field {

      label {
        width: auto;
        display: block;
        text-align: left;
      }
      .control {
        width: auto;
        display: block;
      }
    }
  }

  &.group-modal {
    .elmo_form {

      .form_field {

        .label_and_control {
          width: 100%;
        }

        label, .control {
          width: 50%;
          display: inline-block;
          text-align: left;
        }

        .widget input.text {
          width: 100%;
        }
      }
    }
  }
}
