@import 'mixins';

// Increased specificity to override default icon styles
.form-items #form-items-header {
  @include action-links;

  #saving-message {
    display: none;
    float: right;
    color: #aaa;
  }
}

.form-items-list {
  padding-left: 0;
  counter-reset: item;

  &, ol {
    counter-reset: rank;
  }

  li {
    list-style-position: inside;
    border: none;
    display: block;
    background: none;
  }

  .form-item {

    .type, .actions {
      color: #879CAA;
    }

    .base-info, .actions, .standardized, .type, .condition {
      display: inline-block;
    }

    // This is the question rank, e.g 8., or 2.1.1.
    .base-info::before {
      counter-increment: rank;
      content: counters(rank, '.') '. ';
      min-width: 20px;
      text-align: right;
      display: inline-block;
    }

    .actions {
      float: right;
      text-align: right;
    }

    .standardized, .type {
      font-size: 16px;
    }

    .standardized {
      width: 18px;
      margin-left: 2px;
      vertical-align: middle;
    }

    .type {
      width: 20px;
      text-align: center;
      margin: -2px 0 -2px 0;
    }

    .condition {
      color: #666;
      margin-right: 10px;
    }

    .required-sym {
      color: #fd8452;
    }

    .token-input-token-elmo {
      float: none;
    }
  }
}


