div.ui-dialog-content {
  margin-top: 10px;

  div.modal_error {
    color: #d02000;
    font-weight: bold;
    margin-bottom: 10px;
    display: none;
  }
}

div.modal.new-modal-style {
  div.form-warning {
    margin-top: -8px;
  }

  div.translation {
    height: 40px;
    margin-top: 10px;

    &:first-child {
      margin-top: 10px;
    }

    label {
      width: 125px;
      display: inline-block;
    }

    input[type=text] {
      padding: 3px;
      display: inline-block;
      width: 250px;
    }
  }
}
