div.form_field {
  /* the field div itself should not wrap, but we don't want this to inherit */
  white-space: nowrap;

  > * {
    white-space: normal;
  }


  label, .control, .details {
    vertical-align: top; 
    padding: 5px 0;
  }
  
  .label_and_control {
    display: inline-block;
    white-space: nowrap;

    label {
      white-space: normal;
    }
  }
  
  label.main, .control { 
    border-top: 1px solid #ddd; 
  }
  
  label.main { 
    display: inline-block; 
    width: 150px; 
    padding-right: 10px;
  }
  
  div.control { 
    display: inline-block; 
    width: 350px; 
    min-height: 26px; 
    position: relative; 
  }
  
  div.control input.text { 
    padding: 3px;
  }
  
  /* nice kooshy padding */
  input[type=text], input[type=password], textarea, select {
    padding: 3px;
  }
  
  div.control input.radio { 
    width: 15px; 
  }
  
  div.details { 
    display: inline-block; 
    width: 290px; 
    position: relative; 
    font-size: 90%; 
    background-color: #e4eeff; 
    padding: 5px; 
    margin: 0 0 5px 5px; 
    
    p { 
      padding: 0; 
      margin: 0; 
    }
  }
  
  div.space_line { 
    margin: 0; 
    padding: 0; 
    width: auto; 
  }
  
  div.dummy, span.dummy { 
    font-weight: bold; 
    display: inline; 
  }
  
  div.dummy_checkbox { 
    height: 12px; 
    width: 12px; 
    text-align: center; 
    font-weight: bold; 
    border: 1px solid #888; 
    display: inline; 
  }
}

div.form_buttons { 
  padding-top: 20px; 
}

/* all buttons */
div.form_buttons input[type=submit], input[type=button], input.btn_secondary { 
  display: inline-block;
  font-weight: bold; 
  font-size: 120%; 
  padding: 2px 15px; 
  margin: 0 5px 0 0; 
  height: 26px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
}

/* secondary button, less visual weight */
input.btn_secondary, button.btn_secondary {
  font-weight: normal;
  font-size: 100%;
  height: 20px;
  margin-top: 3px;
}