/* variables */
$theme_green: #9dc400;
$elmo-blue: #879CAA;

form.option_set_form {

  /* hide the option levels at first */
  div.form_field[data-field-name=option_levels] {
    display: none;
  }

  /* special case for add options widget */
  #options div.widget {
    vertical-align: top !important;
  }

  div.add_options {
    margin-bottom: 20px;
    width: 425px;

    ul {
      width: 320px;
    }

    input[type=text] {
      width: 350px;
    }

    input[type=button] {
      vertical-align: top;
      margin-left: 5px;
      display: inline-block;
      width: 92px;
    }
  }

  strong.and-n-more {
    font-size: 14px;
  }

  /* FOR THE SORTABLE/DRAGGABLE LIST */

  .draggable-list-wrapper {
    display: none;

    /* these styles only apply to the outer ol */
    > ol {
      margin: 0 0 5px -15px;
      width: 421px;

      > li:first-child {
        margin-top: 0;
      }
    }

    ol {
      padding-left: 0;

      li {
        display: block;
        margin-left: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        div.inner {

          margin: 5px 0;
          min-height: 15px;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          padding: 5px;
          border: 1px solid #CCC;
          background: #eee;
          cursor: default;

          /* icon */
          i.fa-times, i.fa-pencil {
            color: $elmo-blue;
          }
          i.fa-sort {
            margin-right: 5px;
          }

          /* locales */
          em {
            font-style: normal;
            font-size: 10px;
            margin-left: 5px;
            color: $theme_green;
          }

          /* edit/remove links */
          div.links {
            float: right;
            text-align: right;
            width: 50px;
          }
        }
      }
    }
  }
}

/* EDIT NAMED ITEM WINDOW
   (not inside the form since it's appended to the body) */

div.modal.edit-named-item {

  div.form-warning {
    margin-top: -8px;
  }

  div.translation {
    height: 40px;
    margin-top: 10px;

    &:first-child {
      margin-top: 10px;
    }

    label {
      width: 125px;
      display: inline-block;
    }

    input[type=text] {
      padding: 3px;
      display: inline-block;
      width: 250px;
    }
  }
}