/* variables */
$theme_green: #9dc400;
$elmo-blue: #879CAA;

form.option_set_form {

  /* hide the option levels at first */
  div.form_field[data-field-name=option_levels] {
    display: none;
    padding-bottom: 20px;
  }

  /* special case for add options widget */
  #options div.widget {
    vertical-align: top !important;
  }

  div.add_options {
    margin-bottom: 20px;


    ul {
      width: 360px;
    }

    input[type=text] {
      width: 350px;
    }

    input[type=button] {
      vertical-align: top;
      margin-left: 5px;
      display: inline-block;
    }
  }

  /* FOR THE SORTABLE/DRAGGABLE LIST */

  /* these styles only apply to the outer ol */
  .draggable-list-wrapper > ol {
    margin: 0 0 5px 0;
    width: 421px;
  }

  .draggable-list-wrapper ol {
    padding-left: 0;

    li {
      display: block;
      margin: 5px 0;
      min-height: 15px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      padding: 5px;
      border: 1px solid #CCC;
      background: #eee;
      cursor: default;

      &:last-child {
        margin-bottom: 0;
      }

      div {
        /* icon */
        i.fa-times, i.fa-pencil {
          color: $elmo-blue;
        }
        i.fa-sort {
          margin-right: 5px;
        }

        /* locales */
        em {
          font-style: normal;
          font-size: 10px;
          margin-left: 5px;
          color: $theme_green;
        }

        /* edit/remove links */
        div.links {
          float: right;
          text-align: right;
          width: 50px;
        }
      }
    }
  }
}

/* EDIT NAMED ITEM WINDOW
   (not inside the form since it's appended to the body) */

div.modal.edit-named-item {

  div.data_integrity_warning {
    margin-top: -8px;
  }

  div.translation {
    height: 40px;
    margin-top: 10px;

    &:first-child {
      margin-top: 10px;
    }

    label {
      width: 125px;
      display: inline-block;
    }

    input[type=text] {
      padding: 3px;
      display: inline-block;
      width: 250px;
    }
  }
}