/* variables */
$theme_red: #d02000;
$theme_green: #9dc400;

body.option_sets {

  form.option_set_form {
    /* narrower labels and wider controls */
    label.main {
      width: 75px;
    }
    
    div.control {
      width: 500px;
    }
    
    input[type=text].add_options {
      width: 350px;
    }

    input[type=button].add_options {
      vertical-align: top;
      margin-left: 5px;
      display: inline-block;
    }
  }
  
  /* FOR THE SORTABLE/DRAGGABLE LIST */
  
  body.dragging, body.dragging * {
    cursor: move !important;
  }

  #options_wrapper ol {
    padding-left: 0;
    
    li {
      display: block;
      margin: 5px 0;
      padding: 5px;
      border: 1px solid #CCC;
      background: #eee;
      cursor: default;
      
      &:last-child {
        margin-bottom: 0;
      }
      
      div {
        /* locales */
        em {
          display: block;
          float: right;
          text-align: right;
          font-style: normal;
          font-size: 11px;
          margin-left: 10px;
          color: $theme_green;
        }
        
        /* edit/remove links */
        div.links {
          float: right;
          text-align: right;
          width: 60px;
        }
      }
    }
  }
}