/* variables */
$theme_red: #d02000;
$theme_green: #9dc400;

body.option_sets {

  form.option_set_form {
    /* narrower labels and wider controls */
    label.main {
      width: 75px;
    }
    
    div.control {
      width: 500px;
    }
    
    input[type=text].add_options {
      width: 350px;
    }

    input[type=button].add_options {
      vertical-align: top;
      margin-left: 5px;
      display: inline-block;
    }
  }
  
  /* FOR THE SORTABLE/DRAGGABLE LIST */
  
  body.dragging, body.dragging * {
    cursor: move !important;
  }

  #options_wrapper ol {
    padding-left: 0;
    
    li {
      display: block;
      margin: 5px 0;
      min-height: 15px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      padding: 5px;
      border: 1px solid #CCC;
      background: #eee;
      cursor: default;
      
      &:last-child {
        margin-bottom: 0;
      }
      
      div {
        /* locales */
        em {
          display: block;
          float: right;
          min-width: 40px;
          text-align: left;
          font-style: normal;
          font-size: 11px;
          margin-left: 10px;
          color: $theme_green;
        }
        
        /* edit/remove links */
        div.links {
          float: right;
          text-align: right;
          width: 50px;
        }
      }
    }
  }
  
  /* EDIT OPTION MODAL WINDOW */
  
  div.edit_option_form {
    display: none;
  }
  
  div.edit_option_modal {
    
    div.in_use_warning {
      display: none;
      color: $theme_red;
      margin-bottom: 10px;
    }
    
    div.translation {
      height: 40px;
      
      &:first-child {
        margin-top: 10px;
      }
      
      label {
        width: 125px;
        display: inline-block;
      }
      
      input[type=text] {
        padding: 3px;
        display: inline-block;
        width: 250px;
      }
    }
  }
}