form.question_form {
  margin-bottom: 50px;
}

div.question_fields {

  .names_hints div.form_field div.control textarea[id*=_name_] {
    height: 55px;
  }

  .names_hints div.form_field div.control textarea[id*=_hint_] {
    height: 70px;
  }

  a.create_option_set {
    margin-left: 10px;
  }

  div.minmax {
    input.text[type=text] {
      width: 75px;
      display: inline-block;
    }

    div.control label {
      vertical-align: middle
    }
  }
}

form.questioning_form .form_field#condition {
  select {
    width: 125px;
  }

  input {
    width: 125px;
  }

  .control {
    .widget {
      width: 250px;
    }

    div.field {
      margin-bottom: 4px;

      label {
        display: inline-block;
        width: 100px;
        vertical-align: top;
        padding: 0;
      }

      div {
        width: 100px;
        display: inline-block;

        input[type=text] {
          height: 24px;
        }
      }
    }
  }
}

#create-option-set {
  z-index: 500;

  .modal-dialog {
    width: 900px;
  }

  .modal-body {
    min-height: 400px;
  }

  #edit-option-set {
    .modal-body {
      min-height: 200px;
    }
  }
}

/* Override modal gem */
.modal-backdrop {
  z-index: 300 !important;
}

/* Special style for option set box to accommodate link and loading indicator */
div.form_field.question_option_set_id {

  div.control div.widget select#question_option_set_id {
    width: 260px;
    display: inline-block;
  }

  div.loading_indicator {
    margin-left: 5px;
    vertical-align: middle;
  }
}
