$gray-blue: #D4DCE1;
$response-form-label-width: 300px;

/* response index */
.responses_index {
  form#form_chooser {
    display: inline;

    input, select {
      margin-right: 10px;
    }
  }

  table {
    td.form_id_col {
      width: 200px;
    }

    td.user_id_col {
      width: 150px;
    }

    /* search excerpt */
    tr.second_row td {
      border-top: none !important;
      padding-top: 0;
      color: #aaa;

      p {
        margin-top: 0;
        margin-bottom: 3px;
      }

      p:last-child {
        margin: 0;
      }
    }
  }
}

.responses_index, .responses_show {
  em.match {
    background-color: #ffffaa;
    font-style: normal;
  }
}

.responses_show {

  /* text responses with paragraphs in show mode */
  .form_field.qtype_long_text, .form_field.qtype_text {

    .control {
      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .answer-map {
    width: 160px;
    height: 80px;
    float: right;
    margin-bottom: 10px;
  }
}

form.response_form {
  width: 760px; /* Responses form should be wider */

  label.main {
    width: $response-form-label-width;
  }

  div.control {
    margin-left: $response-form-label-width;
  }

  input.qtype_integer, input.qtype_decimal {
    width: 100px;
  }

  textarea.qtype_long_text {
    width: 340px;
    height: 100px;
  }

  input.qtype_location {
    width: 200px;
    display: inline-block;
  }

  a.edit_location_link img {
    vertical-align: bottom;
  }

  div.qing-group {
    margin-top: -5px;
    border-left: 10px solid $gray-blue;

    h2 {
      margin: 0 0 5px 0;
      padding: 5px 0 10px 2px;
      background-color: $gray-blue;

      a.hint {
        font-size: 9pt;
        float: right;
      }
    }

    .form_field label {
      width: 290px; // Normal width is 300px
      padding-left: 5px; // Since there is now a left border.
    }

    // Second level of indentation
    div.qing-group {
      margin-left: 2px; // We need a little margin to separate inner group from outer.

      .form_field label {
        width: 278px;
      }

      // Third level of indentation (that's enough!)
      div.qing-group .form_field label {
        width: 268px;
      }
    }
  }
}
