div.sms_guide {
  div.header {
    float: right;
    color: #888;
    font-size: 15px;
  }

  table {
    width: 100%;
  }

  table td {
    vertical-align: top;
  }

  td.user-field {
    padding-bottom: 10px;
  }

  td.step1 {
    padding-bottom: 10px;
  }

  td.step2 {
    padding-top: 10px;
  }

  td.step2 ol {
    padding-left: 18px;
  }

  td.rank {
    font-weight: bold;
    width: 20px;
  }

  td.question {
    font-weight: bold;
  }

  td.question .reqd_sym {
    color: black;
    font-size: 18px;
  }

  td.options {
    padding-bottom: 10px;
  }

  td.options span {
    display: inline-block;
    margin-right: 8px;
  }

  td.pointer {
    background: image-url('long-arrow.png') no-repeat right top;
    padding: 0 5px 0 0;
  }

  td.pointer em {
    display: inline-block;
    background-color: white;
    margin-right: 30px;
    padding: 0 5px 10px 0;
  }

  td.answers {
    width: 160px;
    padding-left: 10px;
  }

  span.answer_space {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-bottom: 2px solid black;
    font-weight: bold;
    font-size: 14px;
  }

  span.spc_glyph {
    font-size: 7px;
  }

  span.sms_example {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    padding: 0 5px;
    border-bottom: 1px solid black;
  }
}
