/* elmo specific styles for the token input plugin */
ul.token-input-list-elmo {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    width: 400px;
    border: 1px solid #444;
    cursor: text;
    font-size: 12px;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #eee;
    list-style-type: none;
    clear: left;
    display: inline-block;
}

ul.token-input-list-elmo li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: #eee;
    margin: 2px 0;
    -webkit-appearance: caret;
}

li.token-input-token-elmo {
    overflow: hidden;
    height: auto !important;
    height: 15px;
    margin: 3px;
    padding: 1px 3px;
    background-color: #f7f1aa;
    color: #000;
    cursor: default;
    border: 1px solid #c7bf32;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}

li.token-input-token-elmo p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-elmo span {
    color: #555;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-elmo {
    border: 1px solid #3b5998;
}

li.token-input-input-token-elmo {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-elmo {
    position: absolute;
    width: 400px;
    background-color: #eee;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 13px;
    z-index: 1;
}

div.token-input-dropdown-elmo p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-elmo ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-elmo ul li {
    background-color: #eee;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-elmo ul li.token-input-dropdown-item-elmo {
    background-color: #eee;
}

div.token-input-dropdown-elmo ul li.token-input-dropdown-item2-elmo {
    background-color: #eee;
}

div.token-input-dropdown-elmo ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-elmo ul li div.details {
  font-size: 11px;
  color: #999;
}

div.token-input-dropdown-elmo ul li div.details.create_new {
  font-style: italic;
}

div.token-input-dropdown-elmo ul li.token-input-selected-dropdown-item-elmo {
    background-color: #f7f1aa;
}