/* tag styles */
html,body { margin: 0; padding: 0 }
body, td, input, select, textarea { font-family: Helvetica, sans-serif; font-size: 10pt; }
body { line-height: 1.3; height: 100%; }
form { margin: 0; }
input, select, textarea { border: 1px solid #444; }
a { color: MidnightBlue; }
h1 { margin: 0 0 10px 0; font-size: 17pt; }
h2 { font-size: 13pt; }
h3 { font-size: 12pt; }
ul { margin-top: 0; padding-left: 20px; }
li { margin-bottom: 5px; }
table { border-collapse: collapse; }
td { vertical-align: top; }

/* shared styles */
div.tip { margin-bottom: 10px; width: 600px; }
div.loader { background: rl('/images/loader.gif') no-repeat; padding-left: 20px; }
.deets { font-size: 80%; margin-bottom: 5px; }
.rowbg0 { background-color: #f6f6f6; }
.rowbg1 { background-color: #ded8cb; }
.ntmarg { margin-top: 0; }
.nbmarg { margin-bottom: 0; }
.tmarg { margin-top: 10px; }
.bmarg { margin-bottom: 10px; }

/* search form */
form.new_search, form.edit_search { margin-bottom: 10px; }
form.new_search #search_query, form.edit_search #search_query { width: 300px; }
form.new_search #examples, form.edit_search #examples { font-size: 90%; color: #444; }

/* form */
table.form { border-bottom: 1px solid #887c5f; border-top: 1px solid #887c5f; margin-bottom: 10px; }
table.form td { padding: 5px; }
table.form td.details { width: 250px; }

/* index table */
table.index_table th { text-align: left; color: white; background-color: #BEA154; font-size: 80%; }
table.index_table th, table.index_table td { padding: 3px 10px 3px 3px; font-size: 90%; }
table.index_table td { color: #444; }

/* pagination */
div.pagination * { float: left; display: block; background-color: #eee; padding: 1px; 
  margin-right: 4px; text-align: center; width: 20px; text-decoration: none; }
div.pagination *.disabled { display: none; }
div.pagination em { font-style: normal; font-weight: bold; }
div.pagination *.next_page, div.pagination *.previous_page { width: 80px; }

/* template */
body { background-color: #888; }
div#upper { background-color: #005882; }
div#banner { padding-left: 125px; height: 79px; color: white; padding-top: 10px; }
div#banner img { position: absolute; left: 10px; top: 10px; }
div#banner #title { float: left; font-family: "Lucidia Fax", "Cambria", "Book Antiqua", "Times New Roman", times; }
div#banner #title h1 { margin-bottom: 3px; }
div#banner #title h2 { margin-top: 0; font-size: 100%; font-style: italic; }
div#banner #userinfo { float: right; margin-right: 10px; }
div#banner #userinfo a { color: white; }
div#banner #dev_mode_warning { color: white; margin: 10px 10px 0 0; padding: 2px; text-align: right; font-weight: bold; background-color: #800000; float: right; clear: right; }
div#content { padding: 10px; margin-left: 88px; background-color: white; min-height: 500px; }
div#nav { float: left; width: 88px; padding-top: 20px; color: white; }
div#nav ul { margin-right: 15px; font-weight: bold; padding: 5px; list-style-type:none; }
div#nav ul li { white-space: nowrap; }
div#nav ul li a { text-decoration: none; color: white; }
div#nav ul li a:hover { text-decoration: none; color: #BEA154; }
div#footer { border-top: 1px solid #444; }

/* flash/error messages */
div#flash { margin-bottom: 10px; }
div.success { color: #005882; }
div.error { color: #800000; }
div.error ul { margin-top: 5px; } 

/* language listing */
#languages_index table td.name_col { width: 150px; }

/* place form */
input#place_lookup_query { width: 300px; }
div#place_lookup_results .place_type { font-size: 75%; color: #666; }
form.new_place_lookup td.value, form.new_place td.value { min-width: 400px; }

/* place map */
#map_canvas { width: 600px; height: 400px; }