/* tag redefinitions */
html,body { margin: 0; padding: 0 }
body, td, input, select, textarea { font-family: Helvetica, sans-serif; font-size: 9pt; color: #222; }
body { line-height: 1.3; height: 100%; }
form { margin: 0; }
input, select, textarea { border: 1px solid #444; background-color: #eee; margin: 2px 0; }
a { color: #0065d1; }
form.button_to, form.button_to div { display: inline; }
form.button_to input { background-color: transparent; border: none; color: #0065d1; 
  text-decoration: underline; padding: 0; margin: 0; cursor: pointer; }
h1, h2, h3 { color: black; font-family: Helvetica; }
h1 { margin: 0 0 10px 0; font-size: 17pt; }
h2 { font-size: 11pt; color: #888; }
h3 { font-size: 12pt; margin: 0; color: #444; }
ul { margin-top: 0; padding-left: 20px; }
li { margin-bottom: 5px; }
table { border-collapse: collapse; }
td { vertical-align: top; }

/* multi-purpose */
div.subtitle { margin: -10px 0 10px 0; color: #888; }
div.tip { margin-bottom: 10px; width: 800px; }
div.important { font-weight: bold; color: Black; }

/* loading indicator */
div.loader { background: url('/images/loader.gif') no-repeat; padding-left: 20px; }

/* forms (older) */
div.form, table.form { border-top: 1px solid #ddd; margin-bottom: 10px; }
div.form > div, table.form td { padding: 5px; border-bottom: 1px solid #ddd; }
div.form div.details, table.form td.details { width: 250px; }
div.reqd_sym { display: inline; font-weight: bold; color: #d02000; font-size: 125%; line-height: 5px; vertical-align: middle; }
table.form td.name { min-width: 75px; }

/* forms (newer) */
div.form_field { float: left; border-top: 1px solid #ddd; padding: 5px 0 5px 0; }
div.form_field label { float: left; width: 150px; }
div.form_field div.form_field_control { float: left; min-width: 300px; min-height: 26px; position: relative; }
div.form_field div.form_field_control input { width: 240px; }
div.form_field div.form_field_control input.radio { width: 15px; }
div.form_field div.form_field_details { float: right; width: 300px; position: relative; font-size: 90%; }
div.form_field div.form_field_details span.translation_missing { display: none; }
div.form_field div.space_line { clear: both; margin: 0; padding: 0; width: auto; }
div.dummy, span.dummy { font-weight: bold; }
div.dummy_checkbox { float: left; width: 15px; font-weight: bold; }
input.submit { float: left; font-weight: bold; font-size: 120%; padding: 5px 15px; margin: 0 5px 0 0; }

/* index tables */
table.index_table th, table.form th { text-align: left; color: #444; background-color: #ddd; 
    font-size: 90%; padding: 3px 10px 3px 3px; }
table.index_table td { border-bottom: 1px solid #ddd; padding: 6px 10px 6px 3px; }
table.index_table td.actions_col img { margin-right: 5px; }
td.actions_col { white-space: nowrap; }
td.actions_col img { border: none; min-width: 11px; min-height: 11px; float: left; margin: -2px 0 -2px 0; }
div.loading_indicator_inline { width: 16px; display: inline; }
div.loading_indicator_floating { width: 16px; float: left; }

/* pagination */
div.pagination * { float: left; display: block; background-color: #eee; padding: 1px; 
  margin-right: 4px; text-align: center; width: 20px; text-decoration: none; }
div.pagination *.disabled { display: none; }
div.pagination em { font-style: normal; font-weight: bold; }
div.pagination *.next_page, div.pagination *.previous_page { width: 80px; }

/* flash/error messages */
div.compact_error { color: #d02000; font-weight: bold; }
div.field_with_errors { display: inline; }

/* search form */
form.new_search_search, form.edit_search_search { margin-bottom: 10px; }
form.new_search_search #search_search_str, form.edit_search_search #search_search_str { width: 300px; }
#search_examples { margin-top: 2px; color: #666; }

/* welcome */
.welcome_index div.block { float: left; background-color: #eee; width: 150px; height: 225px; padding: 10px; margin: 0 20px 20px 0; }
.welcome_index div.block img { display: block; border: none; }
.welcome_index div.block a { text-decoration: none; }
.welcome_index div.block a.title, .welcome_index div.block a.subtitle { display: block; color: #666; 
  font-weight: bold; text-transform: uppercase; }
.welcome_index div.block a.title { font-size: 18pt; }
.welcome_index div.block a.subtitle { font-size: 10pt; }
.welcome_index div.block ul { list-style-type: none; padding: 0; }
.welcome_index div.block li { line-height: 17px; }
.welcome_index div.block li small { color: #888; font-size: 8pt; }
.welcome_index div.block li em { font-style: normal; font-size: 12pt; font-weight: bold; }
.welcome_index div.block select { width: 110px;  }
.welcome_index div.block input { font-size: 8pt; width: 30px; }

/* language listing */
#languages_index table td.name_col { width: 150px; }

/* place map */
#map_canvas { width: 600px; height: 400px; }

/* response index */
.responses_index form#form_chooser { display: inline; }

/* response edit */
.responses_edit input.qtype_integer, .responses_new input.qtype_integer { width: 100px; }
.responses_edit input.qtype_decimal, .responses_new input.qtype_decimal { width: 100px; }
.responses_edit textarea.qtype_long_text, .responses_new textarea.qtype_long_text { width: 400px; height: 100px; }
.responses_edit table.answers td.name, .responses_new table.answers td.name, .responses_show table.answers td.name { width: 300px; }
.responses_edit input.submit { float: left; margin-right: 10px; }

/* question show/edit */
.questionings_edit textarea.name_hint, .questionings_new textarea.name_hint,
.questions_edit textarea.name_hint, .questions_new textarea.name_hint 
  { width: 450px; height: 30px; }
.questionings_show td.value, .questions_show td.value { width: 300px; }
.questionings_edit #questioning_condition_value_box, .questionings_new #questioning_condition_value_box { width: 150px; }
.questionings_show tr#condition_row td.value .dummy { display: inline; }

/* question index/choose */
.questions_index .name_col, .questions_choose .name_col { width: 400px; }

/* option edit */
.options_edit td.value input#option_value, .options_new td.value input#option_value { width: 100px; }

/* option set index */
.option_sets_index td.options_col { width: 400px; }

/* option set new/edit/show */
.option_sets_edit div.optcol, .option_sets_new div.optcol, .option_sets_show div.optcol { float: left; margin-right: 20px; }

/* broadcasts */
input#broadcast_subject { width: 300px; }
textarea#broadcast_body { width: 400px; height: 200px; }
.broadcasts_show #send_errors_row td.value { color: #d02000; font-weight: bold; }

/* form edit */
.forms_edit td.name_col, .forms_show td.name_col { width: 500px; }
.forms_edit td.rank_col input { width: 25px; }
.forms_edit #save_ranks_button { margin-top: -15px; }

/* user login instructions */
#login_instructions td.name { width: 100px; }
#login_instructions td.value { font-weight: bold; width: 300px; }

/* user edit */
.users_edit #user_notes, .users_new #user_notes { width: 300px; height: 100px; }
.users_edit #user_device, .users_new #user_device { width: 100px; }

/* user batches */
.user_batches_new #user_batch_users { width: 350px; height: 200px; margin-right: 20px; }
.user_batches_new div.form_field label { width: 75px; }

/* report index */
.report_reports_index .title_col { min-width: 200px; }

/* report form */
td#report_form { position: relative; z-index: 2; padding-right: 10px; }
td#report_form #report_report_filter_attributes_str { width: 240px; }
td#report_form div#search_examples { display: none; }
td#report_form div.help { float: left; width: 260px; clear: left; color: #666; line-height: 12pt; display: none; }
td#report_form div#top_help { margin-bottom: 3px; }
td#report_form div#bottom_help { margin-top: 6px; }
td#report_form div.form_field { width: 260px; clear: left; }
td#report_form label { display: block; color: #666; font-size: 8pt; float: none; }
td#report_form div.form_field_control { min-height: 0; float: none; }
td#report_form div.form_field_details { float: right; width: 200px; display: none; color: #666; }
td#report_form div#required_tip { display: none; }
td#report_form h3 { margin-bottom: 10px; }
td#report_form input.submit { font-size: 8pt; padding: 4px; margin-top: 5px; display: block; float: left;  }
td#report_form div.loader { float: left; margin-top: 8px; }
td#report_form a#show_help { display: block; margin-bottom: 3px; float: left; }
td#report_form div.submit_row { clear: left; }
td#report_form #fields div.form_field_control a { font-size: 90%; }

/* report table */
div#report_body div#row_count { margin-bottom: 5px; }
div#report_body table { }
div#report_body table td, div#report_body table th { padding: 2px; border: 1px solid #ddd; }
div#report_body table td.string { text-align: left; }
div#report_body table td.number { text-align: right; }
div#report_body table th { font-size: 90%; background-color: #eee; padding: 2px 5px 2px 2px; }
div#report_body table td { background-color: white; }
div#report_body table th.col { text-align: left;  }
div#report_body table th.row { text-align: left; white-space: nowrap; }
div#report_body table td.row_total, div#report_body table td.col_total { background-color: #eee; }
div#report_body th.row_grouping_label, div#report_body th.col_grouping_label { color: #888; font-weight: normal; }
div#report_body th.row_grouping_label > div { margin-left: 3px; overflow: hidden; }
div#report_body th.col_grouping_label { text-align: center; }

/* form type index */
.form_types_index .name_col { min-width: 100px; }