/* tag redefinitions */
html,body { margin: 0; padding: 0 }
body, td, input, select, textarea { font-family: Helvetica, sans-serif; font-size: 9pt; color: #222; }
body { line-height: 1.3; height: 100%; }
form { margin: 0; }
input, select, textarea { border: 1px solid #444; background-color: #eee; margin: 2px; }
a { color: MidnightBlue; }
form.button_to, form.button_to div { display: inline; }
form.button_to input { background-color: transparent; border: none; color: MidnightBlue; 
  text-decoration: underline; padding: 0; margin: 0; cursor: pointer; }
h1, h2, h3 { color: black; font-family: "Lucidia Fax", "Cambria", "Book Antiqua", "Times New Roman", times; }
h1 { margin: 0 0 10px 0; font-size: 17pt; }
h2 { font-size: 11pt; color: #888; }
h3 { font-size: 12pt; margin: 0; color: #444; }
ul { margin-top: 0; padding-left: 20px; }
li { margin-bottom: 5px; }
table { border-collapse: collapse; }
td { vertical-align: top; }

/* multi-purpose */
div.tip { margin-bottom: 10px; width: 800px; }
/*.rowbg0 { background-color: #f6f6f6; }
.rowbg1 { background-color: #ded8cb; }*/
div.important { font-weight: bold; color: Black; }

/* loading indicator */
div.loader { background: rl('/images/loader.gif') no-repeat; padding-left: 20px; }

/* search form */
form.new_search, form.edit_search { margin-bottom: 10px; }
form.new_search #search_query, form.edit_search #search_query { width: 300px; }
form.new_search #examples, form.edit_search #examples { color: #666; }

/* forms and index tables */
div.form, table.form { border-top: 1px solid #ddd; margin-bottom: 10px; }
div.form > div, table.form td { padding: 5px; border-bottom: 1px solid #ddd; }
div.form div.details, table.form td.details { width: 250px; }
div.reqd_sym { display: inline; font-weight: bold; color: #800000; font-size: 125%; line-height: 5px; vertical-align: middle; }
div.dummy, span.dummy { font-weight: bold; }
div.dummy_checkbox { float: left; width: 15px; font-weight: bold; }
table.form td.name { min-width: 75px; }
table.index_table th, table.form th { text-align: left; color: #444; background-color: #ddd; 
    font-size: 90%; padding: 3px 10px 3px 3px; }
table.index_table td { border-bottom: 1px solid #ddd; padding: 6px 10px 6px 3px; }
table.index_table td.actions_col img { margin-right: 5px; }

/* pagination */
div.pagination * { float: left; display: block; background-color: #eee; padding: 1px; 
  margin-right: 4px; text-align: center; width: 20px; text-decoration: none; }
div.pagination *.disabled { display: none; }
div.pagination em { font-style: normal; font-weight: bold; }
div.pagination *.next_page, div.pagination *.previous_page { width: 80px; }

/* flash/error messages */
div.success, div.error { position: absolute; left: 25%; top: 89px; background-color: #9bc700; padding: 5px; 
    color: white; font-weight: bold; width: 600px; margin-bottom: 10px; }
div.success { background-color: #9bc700; }
div.error { background-color: #9f0000; }
div.compact_error { color: #9f0000; font-weight: bold; }
div.field_with_errors { display: inline; }

/* welcome */
img#welcome { border: 1px solid #666; }

/* language listing */
#languages_index table td.name_col { width: 150px; }

/* place form */
input#place_lookup_query { width: 300px; }
div#place_lookup_results .place_type { font-size: 75%; color: #666; }
form.new_place td.value { min-width: 400px; }

/* place map */
#map_canvas { width: 600px; height: 400px; }

/* response index */
.responses_index td.place_col div { width: 250px; overflow: hidden; white-space: nowrap; }
.responses_index form#form_chooser { display: inline; }

/* response edit */
.responses_edit input.qtype_integer, .responses_new input.qtype_integer { width: 100px; }
.responses_edit input.qtype_decimal, .responses_new input.qtype_decimal { width: 100px; }
.responses_edit table.answers td.name, .responses_new table.answers td.name, .responses_show table.answers td.name { width: 300px; }

/* question show/edit */
.questionings_edit textarea.name_hint, .questionings_new textarea.name_hint,
.questions_edit textarea.name_hint, .questions_new textarea.name_hint 
  { width: 450px; height: 60px; }
.questionings_show td.value, .questions_show td.value { width: 300px; }
.questionings_edit #questioning_condition_value_box, .questionings_new #questioning_condition_value_box { width: 150px; }
.questionings_show tr#condition_row td.value .dummy { display: inline; }

/* question index/choose */
.questions_index .name_col, .questions_choose .name_col { width: 400px; }

/* option edit */
.options_edit td.value input#option_value, .options_new td.value input#option_value { width: 100px; }

/* option set index */
.option_sets_index td.options_col { width: 400px; }

/* option set new/edit/show */
.option_sets_edit div.optcol, .option_sets_new div.optcol, .option_sets_show div.optcol { float: left; margin-right: 20px; }

/* broadcasts */
input#broadcast_subject { width: 300px; }
textarea#broadcast_body { width: 400px; height: 200px; }
.broadcasts_show #send_errors_row td.value { color: #800000; font-weight: bold; }

/* form edit */
.forms_edit td.name_col, .forms_show td.name_col { width: 500px; }
.forms_edit td.rank_col input { width: 25px; }
.forms_edit #save_ranks_button { margin-top: -15px; }

/* user login instructions */
.users_login_instructions td.name { width: 100px; }
.users_login_instructions td.value { font-weight: bold; width: 300px; }

/* user edit */
.users_edit #user_notes, .users_new #user_notes { width: 300px; height: 100px; }
.users_edit #user_device, .users_new #user_device { width: 100px; }