/* Basic styles. */
html,body { margin: 0; padding: 0 }
body, td, input, select, textarea { font-family: Helvetica, sans-serif; font-size: 10pt; }
body { line-height: 1.3; height: 100%; }
form { margin: 0; }
input, select, textarea { border: 1px solid #444; }
a { color: MidnightBlue; }
h1 { margin-top: 0; font-size: 17pt; }
h2 { font-size: 13pt; }
h3 { font-size: 12pt; }
.ntmarg { margin-top: 0; }
.nbmarg { margin-bottom: 0; }
.tmarg { margin-top: 10px; }
.bmarg { margin-bottom: 10px; }
ul { margin-top: 0; padding-left: 20px; }
li { margin-bottom: 5px; }
table { border-collapse: collapse; }
td { vertical-align: top; }
.details { font-size: 90%; color: DimGray; }
form .sample { color: DimGray; }
table.big_list th, table.big_list td { border: 1px solid #666; padding: 2px; font-size: 80%; }
.deets { font-size: 80%; margin-bottom: 5px; }
.rowbg0 { background-color: #f6f6f6; }
.rowbg1 { background-color: #ded8cb; }
table.form { border-bottom: 1px solid #887c5f; border-top: 1px solid #887c5f; margin-bottom: 10px; }
table.form td { padding: 5px; }
table.form td.details { width: 250px; }

/* Template */
table#layout { width: 100%; }
table#layout td#banner { padding-left: 125px; height: 79px; color: white; background-color: #005882; padding-top: 10px; }
table#layout td#banner img { position: absolute; left: 10px; top: 10px; }
table#layout td#banner #title { float: left; font-family: "Lucidia Fax", "Cambria", "Book Antiqua", "Times New Roman", times; }
table#layout td#banner #title h1 { margin-bottom: 3px; }
table#layout td#banner #title h2 { margin-top: 0; font-size: 100%; font-style: italic; }
table#layout td#banner #userinfo { float: right; margin-right: 10px; }
table#layout td#banner #userinfo a { color: white; }
table#layout td#nav { width: 88px; color: white; background-color: rgb(0, 90, 124); }
table#layout td.content { padding: 20px; }
table#layout td#nav { padding-top: 20px; }
table#layout td#nav ul { margin-right: 15px; font-weight: bold; padding: 5px; list-style-type:none; }
table#layout td#nav ul li { white-space: nowrap; }
table#layout td#nav ul li a { text-decoration: none; color: white; }
table#layout td#nav ul li a:hover { text-decoration: none; color: #BEA154; }
#flash { margin-bottom: 10px; }
.success { color: #005882; }
.error { color: #800000; }
.error ul { margin-top: 5px; } 
#dev_mode_warning { background-color: red; color: white; padding: 2px; }
#search { margin-bottom: 10px; }
#search #query { width: 600px; background-color: #eee; }
.tip { margin-bottom: 5px; }

/* Language listing. */
#languages_index table td.name_col { width: 150px; }

/* place form */
input#place_lookup_query { width: 300px; }
div#place_lookup_results .place_type { font-size: 75%; color: #666; }
form.new_place_lookup td.value, form.new_place td.value { min-width: 400px; }

/* Report listing. */
#reports_index #picker { border: 1px solid #444; position: absolute; background-color: white; padding: 10px; overflow: auto; } 
#reports_index #picker h3 { margin-top: 0; margin-bottom: 5px; }
table.picker td { white-space: nowrap; }
table.picker td.place_name div { overflow: hidden; white-space: nowrap; width: 200px; }

/* Saved search listing. */
#searches_index table td { }
#searches_index table td.rc { width: 10px; height: 20px; padding: 0; border: 1px solid white; cursor: pointer; }
#searches_index table td.y { background-color: #fff0f0; vertical-align: bottom; }
#searches_index table td.y div { background-color: Red; width: 10px; }
#searches_index table td.n { background-color: #f2f2f2; }
#searches_index table.hticks { margin-bottom: 10px; }
#searches_index .htick { font-size: 80%; border-left: 1px solid #666; background-color: #eee; width: 129px; white-space: nowrap; overflow: hidden; }
#searches_index .vtick { vertical-align: bottom; text-align: right; width: 30px; }
#searches_index .vtick div { vertical-align: bottom; border-top: 1px solid #444; font-size: 75%; }
#searches_index table.results { margin-bottom: 10px; }
#searches_index .search_query { font-size: 90%; }
#searches_index .search_query a { text-decoration: none; }