/* tag redefinitions */
html,body { margin: 0; padding: 0 }
body, td, input, select, textarea { font-family: Helvetica, sans-serif; font-size: 10pt; color: #222; }
body { line-height: 1.3; height: 100%; }
form { margin: 0; }
input, select, textarea { border: 1px solid #444; }
a { color: MidnightBlue; }
h1, h2, h3 { color: black; }
h1 { margin: 0 0 10px 0; font-size: 17pt; }
h2 { font-size: 11pt; color: #888; }
h3 { font-size: 12pt; margin: 0; color: #444; }
ul { margin-top: 0; padding-left: 20px; }
li { margin-bottom: 5px; }
table { border-collapse: collapse; }
td { vertical-align: top; }

/* template */
body { background-color: #888; }
div#upper { background-color: #005882; }
div#banner { padding-left: 125px; height: 79px; color: white; padding-top: 10px; }
div#banner img { position: absolute; left: 10px; top: 10px; border: none; }
div#banner #title { float: left; font-family: "Lucidia Fax", "Cambria", "Book Antiqua", "Times New Roman", times; }
div#banner #title h1 { color: white; margin-bottom: 3px; }
div#banner #title h2 { color: white; margin-top: 0; font-size: 100%; font-style: italic; }
div#banner #userinfo { float: right; margin-right: 10px; }
div#banner #userinfo a { color: white; }
div#banner #dev_mode_warning { color: white; margin: 10px 10px 0 0; padding: 2px; text-align: right; font-weight: bold; background-color: #800000; float: right; clear: right; }
div#content { padding: 10px; margin-left: 88px; background-color: white; min-height: 500px; }
div#nav { float: left; width: 88px; padding-top: 20px; color: white; }
div#nav ul { margin-right: 15px; font-weight: bold; padding: 5px; list-style-type:none; }
div#nav ul li { white-space: nowrap; }
div#nav ul li a { text-decoration: none; color: white; }
div#nav ul li a:hover { text-decoration: none; color: #BEA154; }
div#footer { border-top: 1px solid #444; }

/* multi-purpose */
div.tip { margin-bottom: 10px; width: 800px; }
.rowbg0 { background-color: #f6f6f6; }
.rowbg1 { background-color: #ded8cb; }

/* loading indicator */
div.loader { background: rl('/images/loader.gif') no-repeat; padding-left: 20px; }

/* search form */
form.new_search, form.edit_search { margin-bottom: 10px; }
form.new_search #search_query, form.edit_search #search_query { width: 300px; }
form.new_search #examples, form.edit_search #examples { font-size: 90%; color: #444; }

/* form */
div.form, table.form { border-bottom: 1px solid #887c5f; border-top: 1px solid #887c5f; margin-bottom: 10px; }
div.form > div, table.form td { padding: 5px; }
div.form div.details, table.form td.details { width: 250px; }
div.reqd_sym { display: inline; font-weight: bold; color: #800000; font-size: 125%; line-height: 5px; vertical-align: middle; }
div.dummy { font-weight: bold; }
div.dummy_checkbox { float: left; width: 15px; font-weight: bold; }
table.form td.name { min-width: 75px; }

/* index table */
table.index_table th { text-align: left; color: white; background-color: #BEA154; font-size: 80%; }
table.index_table th, table.index_table td { padding: 3px 10px 3px 3px; font-size: 90%; }
table.index_table td { color: #444; }
table.index_table td.actions_col img { margin-right: 5px; }

/* pagination */
div.pagination * { float: left; display: block; background-color: #eee; padding: 1px; 
  margin-right: 4px; text-align: center; width: 20px; text-decoration: none; }
div.pagination *.disabled { display: none; }
div.pagination em { font-style: normal; font-weight: bold; }
div.pagination *.next_page, div.pagination *.previous_page { width: 80px; }

/* flash/error messages */
div#flash { margin-bottom: 10px; }
div.success { color: #005882; }
div.error { color: #800000; }
div.error ul { margin: 5px 0 0 0; }

/* language listing */
#languages_index table td.name_col { width: 150px; }

/* place form */
input#place_lookup_query { width: 300px; }
div#place_lookup_results .place_type { font-size: 75%; color: #666; }
form.new_place_lookup td.value, form.new_place td.value { min-width: 400px; }

/* place map */
#map_canvas { width: 600px; height: 400px; }

/* response index */
.responses_index td.place_col div { width: 200px; overflow: hidden; white-space: nowrap; }
.responses_index form#form_chooser { display: inline; }

/* response edit */
.responses_edit input.qtype_numeric, .responses_new input.qtype_numeric { width: 100px; }
.responses_edit table.answers td.name, .responses_new table.answers td.name, .responses_show table.answers td.name { width: 300px; }

/* question show/edit */
.questionings_edit textarea.name_hint, .questionings_new textarea.name_hint,
.questions_edit textarea.name_hint, .questions_new textarea.name_hint 
  { width: 450px; height: 60px; }
.questionings_show td.value, .questions_show td.value { width: 300px; }

/* question index/choose */
.questions_index .name_col, .questions_choose .name_col { width: 400px; }

/* option edit */
.options_edit td.value input#option_value, .options_new td.value input#option_value { width: 100px; }

/* option set index */
.option_sets_index td.options_col { width: 400px; }

/* option set new/edit/show */
.option_sets_edit div.optcol, .option_sets_new div.optcol, .option_sets_show div.optcol { float: left; margin-right: 20px; }

/* broadcasts */
input#broadcast_subject { width: 300px; }
textarea#broadcast_body { width: 400px; height: 200px; }
.broadcasts_show #send_errors_row td.value { color: #800000; font-weight: bold; }

/* form edit */
.forms_edit td.name_col, .forms_show td.name_col { width: 500px; }
.forms_edit td.rank_col input { width: 25px; }
.forms_edit #save_ranks_button { margin-top: -15px; }