table#layout { width: 100%; }
td#banner, td#footer, td#nav { display: none; }

/* login instructions */
.user_batches_show h1#title { display: none; }
#login_instructions #preamble { display: none; }
#login_instructions #instructions { page-break-after: always; }

/* flash and error messages */
div.success, div.failure { display: none; }

/* hide screen-only things */
.screen { display: none; }

/* printable form */
#printable_form, #printable_form td { font-size: 8pt; line-height: 12pt; }
#printable_form table { width: 100%; page-break-after: auto; }
#printable_form table tr { page-break-inside: avoid; page-break-after: auto; }
#printable_form table tr.conditional td { color: #999; }
#printable_form table td { border-top: 0.1pt solid #ccc; padding: 0; }
#printable_form table td.name { width: 60%; }
#printable_form table td.answer { width: 40%; vertical-align: middle; }
#printable_form div.condition { font-weight: bold; }
#printable_form div#reqd_message { float: right; }
#printable_form .option { float: left; margin-right: 20px; }
#printable_form .option_box, #printable_form .answer_box { background-color: #eee; border: 0.1pt solid #aaa; }
#printable_form .option_box { float: left; width: 0.15in; height: 0.15in; margin-right: 2px; }
#printable_form .answer_box { height: 0.20in; }
#printable_form td.integer_answer .answer_box, #printable_form td.decimal_answer .answer_box { width: .75in; }
#printable_form td.long_text_answer .answer_box { height: .75in; }
#printable_form .hint { font-size: 90%; color: #888; }
.forms_index h1#title, .forms_edit h1#title, .forms_show h1#title { display: none; }

/* reports */
#report_top_links, #report_links, div.report_edit_dialog, div.report_edit_pane { display: none !important; }