td#banner, td#footer, td#nav { display: none; }

/* login instructions */
.users_login_instructions #preamble { display: none; }

/* flash and error messages */
div.success, div.failure { display: none; }