/* template */
body { background-color: #888; }
div#banner { padding-left: 86px; height: 79px; color: white; padding-top: 10px; }
div#banner #title { float: left; }
div#banner #title h1 { margin-bottom: 0; font-size: 40px; }
div#banner #title a { color: white; text-decoration: none; }
div#banner #title img { float: left; display: block; margin: 0px 0 0 0px; }
div#banner #userinfo { float: right; margin-right: 10px; }
div#banner #userinfo a, div#banner #userinfo form.button_to input { color: white; }
div#content { padding: 10px 10px 30px 15px; margin-left: 88px; min-height: 500px; }
div#nav { float: left; width: 88px; color: white; }
div#nav ul { margin-right: 15px; font-weight: bold; padding: 5px; list-style-type:none; }
div#nav ul li { white-space: nowrap; }
div#nav ul li a { text-decoration: none; color: white; }
div#nav ul li a:hover { text-decoration: none; color: #BEA154; }
div#footer { padding: 5px; color: #ddd; text-align: right; }
div#footer #dev_mode_warning { color: white; padding: 2px; margin: 0 0 0 5px; text-align: right; font-weight: bold; 
  background-color: #800000; float: right; clear: right; }

/* login instructions */
.users_login_instructions #preamble { width: 600px; margin-bottom: 20px; }
.users_login_instructions #instructions { width: 600px; border: 1px solid #666; padding: 10px; }
.users_login_instructions #instructions p { margin-top: 0; }
  
/* flash and error messages */
div.success, div.error { position: absolute; left: 25%; top: 89px; background-color: #9bc700; padding: 5px; 
    color: white; font-weight: bold; width: 600px; margin-bottom: 10px; }
div.success { background-color: #9bc700; }
div.error { background-color: #9f0000; }
