/* template */
body { background-color: #888; }
table#layout { width: 100%; }
td#banner { color: white; padding: 5px 0 0 88px; height: 75px; }
td#banner #title { float: left; padding-top: 5px; }
td#banner #title h1 { font-size: 40px; line-height: 1; display: inline-block; }
td#banner #title h2 { font-size: 22px; width: 300px; margin: 0; color: white; display: inline-block; text-transform: uppercase; vertical-align: top; }
td#banner #title a { color: white; text-decoration: none; }
td#banner #title img { display: block; margin: 5px 0 0 3px; }
td#banner #userinfo { float: right; margin-right: 10px; }
td#banner #userinfo a, td#banner #userinfo form.button_to input { color: white; }
div#content { padding: 15px 15px 30px 15px; min-height: 400px; background-color: white; }
td#nav { width: 88px; color: white; }
td#nav ul { font-weight: bold; padding: 5px; list-style-type:none; }
td#nav ul li { white-space: nowrap; }
td#nav ul li a { text-decoration: none; color: white; }
td#nav ul li a:hover { text-decoration: none; color: #0065d1; }
td#footer { padding: 5px; color: #ddd; text-align: right; }
td#footer #dev_mode_warning { color: white; padding: 2px; margin: 0 0 0 5px; text-align: right; font-weight: bold; 
  background-color: #d02000; float: right; clear: right; }
div.dialog_bg { background-color: black; opacity: 0.6; filter: alpha(opacity=60); left: 0; top: 0; position: absolute; }
div.dialog_bg * { opacity: 1; filter: alpha(opacity=100); }
div#userinfo form { display: inline; }
div#userinfo form select { font-size: 9pt; }

/* login instructions */
#login_instructions #preamble { width: 600px; margin-bottom: 20px; }
#login_instructions #instructions { width: 600px; border: 1px solid #888; padding: 10px; }
#login_instructions #instructions p { margin-top: 0; }
  
/* flash and error messages */
div.success, div.error { position: absolute; left: 25%; top: 71px; padding: 3px; 
    color: white; font-weight: bold; width: 600px; margin-bottom: 10px; text-align: center; }
div.success { background-color: #9dc400; }
div.error { background-color: #d02000; }

/* hide printable things */
.printable { display: none; }