div.cascading-selects {
  .level {
    margin-bottom: 3px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  label,
  .option-level {
    color: #888;
    display: block !important;
    font-size: 8pt;
    margin-bottom: 3px;
    padding: 0;
  }
}

.read-only div.cascading-selects {
  label,
  .option-level {
    margin-bottom: 0;
  }

  .option-name {
    margin-bottom: 5px;

    i { // For blank values
      color: $lighter-gray;
      font-style: normal;
    }
  }

  > div:last-child .option-name {
    margin-bottom: 0;
  }
}
