.elmo-form .form-field {
  // The field div itself should not wrap, but we don't want this to inherit
  border-bottom: $light-border;
  display: flex;
  padding: 5px 0;
  white-space: nowrap;

  > * {
    white-space: normal;
  }

  .form-errors {
    // Cancel the left margin for form errors inside a form-field
    margin-#{$left}: 0;
  }

  div.reqd-sym {
    color: $link-color;
    display: inline;
    font-size: 125%;
    font-weight: bold;
    line-height: 5px;
    vertical-align: middle;
  }

  label,
  .control {
    padding: 5px 0;
    vertical-align: top;
  }

  label.main {
    display: block;
    flex: 0 0 200px;
    text-align: $right;
    padding-#{$right}: 10px;
    vertical-align: top;
  }

  .control {
    flex-grow: 1;
    min-height: 26px;
    vertical-align: middle;

    label {
      font-weight: normal;
    }

    .modal label {
      font-weight: bold;
    }

    .radio {
      width: 15px;
    }

    .widget {
      vertical-align: top;

      label {
        margin-bottom: 0;
      }

      input[type=text],
      input.text,
      input[type=number],
      input[type=password],
      select {
        height: 35px;
      }

      textarea {
        height: 100px;
      }

      input[type=number] {
        width: 100px;
      }

      input[type=text],
      input.text,
      input[type=password],
      select,
      textarea {
        width: 100%;
      }

      .note {
        color: $gray-text;
        font-size: 12px;
        margin-top: 5px;
      }
    }
  }

  // nice kooshy padding
  input[type=text],
  input[type=password],
  textarea,
  select,
  .control .text {
    padding: 3px;
  }
}

.form-control {
  font-size: 14px; // App-wide size is smaller than this.
}
