.elmo-form .form-field {
  // The field div itself should not wrap, but we don't want this to inherit
  border-bottom: $light-border;
  display: flex;
  padding: 5px 0;
  white-space: nowrap;

  > * {
    white-space: normal;
  }

  .form-errors {
    // Cancel the left margin for form errors inside a form-field
    margin-#{$left}: 0;
  }

  div.reqd-sym {
    color: $accent-color;
    display: inline;
    font-size: 125%;
    font-weight: bold;
    line-height: 5px;
    vertical-align: middle;
  }

  label,
  .control {
    padding: 5px 0;
    vertical-align: top;
  }

  label.main {
    display: block;
    flex: 0 0 200px;
    text-align: $right;
    vertical-align: top;
    padding-#{$right}: 10px;
  }

  .control {
    flex-grow: 1;
    min-height: 26px;
    vertical-align: middle;

    .radio {
      width: 15px;
    }

    .widget {
      vertical-align: top;

      label {
        margin-bottom: 0;
      }

      input[type=text],
      input.text,
      input[type=number],
      input[type=password],
      select {
        height: 35px;
      }

      textarea {
        height: 100px;
      }

      input[type=number] {
        width: 100px;
      }

      input[type=text],
      input.text,
      input[type=password],
      select,
      textarea {
        width: 100%;
      }

      .note {
        color: $gray-text;
        font-size: 12px;
        margin-top: 5px;
      }

      &.inline-hint {
        color: $gray-text;
        display: flex;
        flex-direction: row;

        // Inline hints generally have something in front of them,
        // e.g. an inline checkbox or inline text value.
        input {
          margin-right: 10px;
          // Checkbox gets aligned differently with `display: flex`.
          margin-top: 2px;
        }

        .ro-val {
          color: $main-text-color;
          margin-right: 10px;
        }
      }
    }

    pre {
      background-color: $pre-bg;
      border: 1px solid $lighter-gray;
      font-size: 8pt;
      margin: 0 0 3px;
      overflow: auto;
      padding: 0.4rem;
      white-space: normal;
    }
  }

  // nice kooshy padding
  input[type=text],
  input[type=password],
  textarea,
  select,
  .control .text {
    padding: 3px;
  }
}

.elmo-form .modal .form-field {
  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.form-control {
  font-size: 14px; // App-wide size is smaller than this.
}
