// "elmo forms" are the standard, consistent-looking forms in the app
.elmo-form {
  // Standard form width
  max-width: 760px;

  .instructions {
    margin-bottom: 20px;
  }

  // Minimal form has no horiz lines and no hints
  &.minimal {
    .form-field {
      border-bottom: 0;
    }

    // We need to hide this because otherwise the bottom buttons don't line up nicely.
    .hint-wrapper {
      display: none;
    }
  }

  .form-errors {
    color: $error-red;
    font-weight: bold;
    margin-bottom: 5px;
  }
}
