.elmo-form .hint-wrapper {

  @include hint-icon;
  flex: 0 0 30px;
  order: 10; // Move it to the end of the line.
  text-align: center;

  a.hint {
    display: inline-block;
    margin-top: 6px;
    white-space: nowrap;
  }
}
