// For things like API tokens.
div.regenerable-field {
  span[data-value] {
    font-family: monospace;
    font-size: 0.9rem;
  }

  button.regenerate {
    margin-left: 2em;
  }

  div.inline-load-ind {
    display: inline-block;
    margin-left: 0.5em;
  }
}
