# address for webmaster emails
configatron.webmaster_emails = ["someone@somplace.com"]

# site email from address
configatron.site_email = "#{configatron.site_name} <webmaster@cceom.org>"

# whether to use HTTPS in the mailer URLs.
configatron.mailer_url_protocol = 'https'

# mailer settings
CommandCenter::Application.config.action_mailer.delivery_method = :smtp
CommandCenter::Application.config.action_mailer.smtp_settings = {
  :address        => 'smtp.example.com',
  :port           => 587,
  :domain         => "example.com",
  :authentication => :plain,
  :user_name      => "who@example.com",
  :password       => "password"
}

# settings for intellisms gateway
configatron.intellisms_username = "username"
configatron.intellisms_password = "password"

# google maps API key
configatron.google_maps_key = "xxx"
