# site name (shows up in banner and page title)
configatron.site_name = "ELMO"

# address for webmaster emails
configatron.webmaster_emails = ["someone@somplace.com"]

# site email from address
configatron.site_email = "#{configatron.site_name} <someone@someplace.com>"

# whether to use HTTPS in the mailer URLs.
configatron.mailer_url_protocol = 'https'

# mailer settings
ELMO::Application.config.action_mailer.delivery_method = :smtp
ELMO::Application.config.action_mailer.smtp_settings = {
  :address        => 'smtp.example.com',
  :port           => 587,
  :domain         => "example.com",
  :authentication => :plain,
  :user_name      => "who@example.com",
  :password       => "password"
}

# default settings for outgoing sms adapter when new mission is created
configatron.default_settings.outgoing_sms_adapter = "IntelliSms"
configatron.default_settings.outgoing_sms_username = "username"
configatron.default_settings.outgoing_sms_password = "password"

# google maps API key
configatron.google_maps_key = "xxx"
