# Site name (shows up in banner and page title)
configatron.site_name = "ELMO (Longer Name)"
configatron.site_shortname = "ELMO"
# configatron.logo_path = "logo-override.png"
# configatron.broadcast_tag = "[ELMO]"

# Address(es) where webmaster notifications (e.g. for system errors) will be sent.
configatron.webmaster_emails = ["someone@somplace.com"]

# Email address from which ELMO emails will appear to be from. Some mail servers require
# that this be a real address controlled by the mailserver itself. e.g. if you're using Google Apps
# for email, use an email address hosted in your Google Apps account.
configatron.site_email = "\"#{configatron.site_name}\" <someone@someplace.com>"

# Whether to use HTTPS in the mailer URLs. This should be 'https' if your site uses SSL, and 'http' if not.
configatron.mailer_url_protocol = 'https'

# Mailer settings
ActionMailer::Base.smtp_settings = {
  :address        => 'smtp.example.com',
  :port           => 587,
  :domain         => "example.com",
  :authentication => :plain,
  :user_name      => "who@example.com",
  :password       => "password"
}

# Default outgoing SMS adapter settings. Uncomment one of the below sets of settings as needed.
# These settings are copied by default to any new mission in the system.
# This adapter is also used to send replies if the incoming message has an unknown mission and the
# incoming adapter's reply style is `via_adapter`.
# ** Twilio **
# configatron.default_settings.outgoing_sms_adapter = "Twilio"
# configatron.default_settings.twilio_account_sid = "xxx"
# configatron.default_settings.twilio_auth_token = "xxx"
# configatron.default_settings.twilio_phone_number = "+15555551212"
# ** FrontlineCloud **
# configatron.default_settings.outgoing_sms_adapter = "FrontlineCloud"
# configatron.default_settings.frontlinecloud_api_key = "xxx"

# Sets a universal SMS token so that multiple missions can submit to the same URL
# configatron.universal_sms_token = "50b488c71be4e9cd0ba34a7bf0b7053f"

# Google Maps API Key (Requires Google Maps Javascript and Geocoding APIs)
configatron.google_maps_api_key = "xxx"

# Allows submissions without password via the /noauth/submission route.
# This setting overrides the per-mission setting.
# Also, if not true, the per-mission setting will not be available in UI.
# Enable only if you really know what you are doing!
configatron.allow_unauthenticated_submissions = false

# Generate your secret key with this command:
#   ruby -e "require 'securerandom'; puts SecureRandom.hex(128)"
# And copy and paste into this file in place of `secret-token`.
ELMO::Application.config.secret_key_base = 'secret-token'

# Configure reCAPTCHA for brute-force login protection
# Keys may be obtained from https://www.google.com/recaptcha/admin
Recaptcha.configure do |config|
  config.public_key = nil  # '6LdN_QUTAAAAAN_oha......................'
  config.private_key = nil # '6LdN_QUTAAAAAOaPvp......................'
end
