<% if value %>
  <span class="mask-container">
    <span class="d-none unmasked">
      <%= value %>
      <a href="#" class="toggle-mask">
        <%= icon_tag("eye-slash") %>
      </a>
    </span>

    <span class="masked">
      <%= value.split('').map { |char| '∙' }.join %>
      <a href="#" class="toggle-mask">
        <%= icon_tag(:eye) %>
      </a>
    </span>
  </span>
<% end %>
