<div id="user-groups-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close group-cancel" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <%= t("activerecord.action_links.user_group.index") %>
        </h4>
      </div>

      <div class="modal-body group-form">

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary new">
          <%= t("activerecord.action_links.user_group.new") %>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
