<%# no title because the title is incorporated into the login instructions box %>
<% @dont_print_title = true %>

<div id="login_instructions">
  <div id="preamble" class="d-print-none">
    <p><%= t("user.login_instructions.preamble_singular") %></p>
    <p><%= link_to(t("user.back_to_index"), users_path) %></p>
  </div>

  <%= render("login_instruction_box", user: @user, password: @password) %>
</div>
