<%= flash_and_form_errors(@user) %>

<div id="login_instructions">
  <div id="preamble">
    Login instructions are shown below. Please print this page now and ensure the user below receives it.
    Since the user's password is stored in encrypted format, it will be irretrievable after you leave this page.
    <p><%= link_to("Back to Users List", users_path) %></p>
  </div>

  <%= render("login_instruction_box", :user => @user, :password => flash[:password]) %>
</div>