<div class="tip">
	The system will automatically create a username for the user based on their first and last names. 
	This username and instructions for creating a password will be sent to the email address provided.
</div>
<%= render("form", :user => @user) %>