form.form_form {
  div#index_table {
    margin-top: 10px;
  }

  .sms-fields, .form_recipients {
    display: none; // Initially hidden
  }

  ul.admin-stats {
    list-style: none;
    margin: 5px 0px 0px 0px;
    padding: 0px;

    li {
      display: inline-block;
      margin: 0px 5px 0px 0px;
    }
  }
}

// dl can be used for non bulleted lists of things in a read only form view.
// These styles put 20px of space between each dt, but not on either end.
dt {
  margin-top: 20px;
}

dt:first-of-type {
  margin-top: 0;
}

dl {
  margin-bottom: 0;
}

@media print {
  // The outer title on forms pages should be hidden since we include it separately.
  .forms_index, .forms_show, .forms_edit {
    h1.title {
      display: none;
    }

    #printable_form h1.title {
      display: block;
      margin-bottom: 3px;
    }
  }
}
