form.form_form {
  div#index_table {
    margin-top: 10px;
  }

  .sms-fields, .form_recipients {
    display: none; // Initially hidden
  }
}

@media print {
  /* The outer title on forms pages should be hidden since we include it separately. */
  .forms_index, .forms_show, .forms_edit {
    h1.title {
      display: none;
    }
    #printable_form h1.title {
      display: block;
      margin-bottom: 3px;
    }
  }
}
