div.ui-dialog-content {
  margin-top: 10px;

  div.modal_error {
    color: $theme-red;
    font-weight: bold;
    margin-bottom: 10px;
    display: none;
  }
}

.modal-body {
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .modal-dialog {
    min-width: 600px;
    max-width: 768px;
    width: auto;
  }
}

@media(min-width: 1024px) {
  .modal-dialog {
    min-width: 600px;
    max-width: 1024px;
    width: auto;
  }
}
