div.ui-dialog-content {
  margin-top: 10px;

  div.modal_error {
    color: $theme-red;
    font-weight: bold;
    margin-bottom: 10px;
    display: none;
  }
}

.modal-dialog {
  min-width: 600px;
  max-width: 800px;
  width: 90%;

  .modal-body {
    word-wrap: break-word;

    h1, h2, h3, h4, h5, h6 {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.modal-small .modal-dialog {
  min-width: 400px;
  max-width: 400px;
}
