/* response index */
.responses_index {
  form#form_chooser {
    display: inline;

    input, select {
      margin-right: 10px;
    }
  }

  table {
    td.form_id_col {
      width: 200px;
    }

    td.user_id_col {
      width: 150px;
    }

    /* search excerpt */
    tr.second_row td {
      border-top: none !important;
      padding-top: 0;
      color: #aaa;

      p {
        margin-top: 0;
        margin-bottom: 3px;
      }

      p:last-child {
        margin: 0;
      }
    }
  }
}

.responses_index, .responses_show {
  em.match {
    background-color: $light-yellow;
    font-style: normal;
  }
}

.responses_show {

  /* text responses with paragraphs in show mode */
  .form_field.qtype_long_text, .form_field.qtype_text {

    .control {
      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .answer-map {
    width: 160px;
    height: 80px;
    float: right;
    margin-bottom: 10px;
  }
}

form.response_form {
  width: 760px; /* Responses form should be wider */

  label.main {
    width: $response-form-label-width;

    display: inline-block;
    float: left;
    p.rank {
      display: inline-block;
      text-align: left;
      float: left;
      margin-left: 12px;
    }
  }

  div.control {
    margin-left: $response-form-label-width;
  }

  div.no-value {
    color: $light-gray;
  }

  input.qtype_integer, input.qtype_decimal {
    width: 100px;
  }

  textarea.qtype_long_text {
    width: 340px;
    height: 100px;
  }

  input.qtype_location {
    width: 200px;
    display: inline-block;
  }

  a.edit_location_link img {
    vertical-align: bottom;
  }

  div.qing-group {

    div.qing-group-instances {
      background-color: lighten($gray-blue, 10%);
      border-left: 10px solid $gray-blue;
    }

    h2 {
      margin: 0;
      padding: 5px 0 10px 2px;
      background-color: $gray-blue;

      a.hint {
        font-size: 9pt;

        i.hint {
          color: $white !important;
        }
      }

      a.remove-instance {
        display: inline-block;
        float: right;
        margin: 0 10px;
      }

      div.popover {
        color: $body-text-color;
      }
    }

    a.add-instance {
      display: inline-block;
      margin: 5px 0 10px 0;

      &, & i {
        color: #aaa !important;
      }
    }

    /* Indented groups */
    .form_field {
      label {
        width: $response-form-label-width - $group-indent;
        padding-left: 5px; // Since there is now a left border.
      }

      div.control {
        margin-left: $response-form-label-width - $group-indent;
      }
    }
  }
}
