html[dir="rtl"] {

  // ul.nav.navbar-nav {
  //   float: right;
  //   display: flex;
  //   flex-direction: row-reverse;
  //   padding-right: 28px;
  // }

  // div#title{
  //   text-align: right;
  //   display: flex;
  //   flex-direction: row-reverse;
  //   padding-right: 34px;
  // }
  //
  // div#title h2{
  //   margin-top: auto;
  // }
  //
  // div#userinfo{
  //   float: left;
  //   display: flex;
  //   flex-direction: row-reverse;
  //   padding-left: 34px;
  // }
  //
  // header nav.navbar-default ul.navbar-nav li a {
  //   display: flex;
  //   flex-direction: row-reverse;
  // }
  //
  // header nav.navbar-default ul.navbar-nav li i {
  //   margin-left: 5px;
  //   margin-right: 0px;
  // }




  //////////////////////
  #userinfo {
    float: left;
    display: flex;
    flex-direction: row-reverse;

    .icon-btn {
      float: right;
    }
  }

  .navbar-header {
    float: right;
  }

  .navbar-nav {
    float: right;

    li {
      float: right;

      i {
        margin-left: 5px;
        margin-right: 0;
      }
    }
  }

  th {
    text-align: right;
  }

  div.form_field {
    label.main {
      float: right;
    }

    div.control {
      margin-left: 0;
      margin-right: 200px;
    }
  }

  .search-footer {
    & > a {
      float: right;
      margin-top: 2px;
    }
  }

  div.top-action-links a i {
    margin-right: 0;
    margin-left: 3px;
  }

  #userinfo a.login {
    margin-right: 0;
    margin-left: 22px;
  }
}
