body div.user_sessions_new#content{
  direction: rtl !important;
}


html[dir="rtl"] {


  h1.title{
    float: right;
    margin-right: 0;
  }

  label.main{
    float: right;
    text-align: left;
    padding-left: 10px;
    margin-top: 8px;
  }

  .control{
    margin-left: 0px;
    margin-right: 200px;
  }

  #userinfo {
    float: left;

    .icon-btn {
      float: right;
    }
  }

  .navbar-header {
    float: right;
  }

  .navbar-nav {
    float: right;

    li {
      float: right;

      i {
        margin-left: 5px;
        margin-right: 0;
      }
    }
  }

  th {
    text-align: right;
  }

  div.form_field {
    label.main {
      float: right;
    }

    div.control {
      margin-left: 0;
      margin-right: 200px;
    }
  }

  .search-footer {
    & > a {
      float: right;
      margin-top: 2px;
    }
  }

  div.top-action-links a i {
    margin-right: 0;
    margin-left: 3px;
  }

  #userinfo a.login {
    margin-right: 0;
    margin-left: 22px;
  }
}
