#login_instructions {
  table {
    margin-bottom: 10px;
  }

  td {
    font-size: 15px;
  }

  td.name {
    width: 150px;
  }

  td.value {
    font-weight: bold;
    font-family: monospace;
    width: 300px;
  }
}

.users_index {
  tr.inactive {
    td, a {
      color: #ccc;
    }
  }
}

/* user edit */
form.user_form {

  textarea#user_notes {
    height: 100px;
  }

  div.form_field#assignments {

    div.item {
      padding: 2px 0;
    }

    div.assignment, div.assignment_header {
      display: inline-block;
      min-height: 20px;

      > div {
        display: inline-block;
        padding-right: 10px;
      }

      div.mission {
        width: 150px;

        select {
          width: 145px;
        }
      }

      div.role {
        width: 120px;

        select {
          width: 115px;
        }
      }

      div.active {
        width: 75px;
      }
    }

    div.assignment_header {
      font-size: 11px;
      color: #aaa;
    }
  }

  div.user_api_key .widget > div {
    display: inline-block;
    margin-right: 5px;
  }
}
