

<div id="api-users">
  <p><%= t("form.select_api_users") %></p>
  <div id="api-users-scrollbox">
    <% @users.each do |user| %>
      <div class="checkbox-row">
        <%= check_box_tag "whitelist_users[]", user.id, @form.whitelist_users.pluck(:user_id).include?(user.id)  %>
        <%= user.name %>
      </div>
    <% end %>
  </div>
</div>


<%= javascript_doc_ready do %>
  ApiUserList.hookup_protected_change_event();
<% end %>