body.welcome {

  /* reduce margin on title and content */
  div#title {
    margin-#{$left}: 10px;
  }

  .title {
    float: none;
  }

  div#content {
    margin-#{$left}: 0;
    padding-bottom: 40px;

    .response_locations_offline {
      color: $light-gray;
      margin-top: 30px;
      text-align: center;
    }

    .expanded-map-links {
      display: none;
    }

    // If .expand-map class is on #content, we have to kill the padding and all the content except map.
    &.expanded-map {
      padding: 0;

      div.right_col, h2, div.recent_responses, div.dashboard-footer, a.expand-map {
        display: none;
      }

      .left_col {
        width: 100%;
        padding: 0;
      }

      .response_locations {
        display: block !important;
        width: 100%;
      }

      // Links for collapsing map/fullscreen
      .expanded-map-links {
        display: block;
        top: 50px;
        right: 10px;
        position: absolute;

        a {
          color: white;
        }
      }
    }
  }

  /* close link */
  a.close_dashboard {
    position: absolute;
    bottom: 6px;
    right: 10px;
    text-decoration: none;
  }

  a.expand-map {
    float: right;
  }

  h2 {
    color: #888888;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    font-size: 18px;
  }

  /* interior headers need top margin also */
  h2.interior {
    margin-top: 15px;
  }

  /* columns */
  div.col {
    display: inline-block;
    vertical-align: top;

    &.left_col {
      padding-left: 0;
      padding-right: 15px;
    }

    &.right_col {
    }
  }

  div.dashboard-footer {
    float: right;
    margin-top: 8px;
    margin-right: 17px;
  }

  /* responses index table */
  div.recent_responses {
    overflow-x: hidden;
    table.index_table {
      td > div {
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  /* map info window */
  div.info_window {
    width: 275px;
    height: 130px;

    h3 {
      margin-bottom: 10px;
    }

    table {
      width: 100%;

      td:first-child {
        font-size: 11px;
        padding-right: 10px;
        height: 20px;
      }

      td:last-child {
        font-weight: bold;
      }
    }
  }

  /* stats */

  div.report_stats {
    /* ensure stat blocks don't wrap */
    white-space: nowrap;
    overflow-x: auto;
  }

  div.stat_block {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;

    h2 {
      white-space: normal;
      max-width: 200px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 16px;

      li {
        white-space: nowrap;
        overflow: hidden;
      }

      a {
        text-decoration: none;
        color: $darker-accent-color;
      }
    }
  }

  /* report */

  form.report_chooser {
    display: none;
    float: right;
    margin-top: 15px;

    select {
      width: 150px;
    }
  }

  .report_pane {

    h2 {
      display: inline-block;
      overflow: hidden;
      height: 20px;
      white-space: nowrap;
    }

    /* Don't show report edit link at the beginning.*/
    .report_edit_link_container {
      display: none;
    }

    a.action-link-edit {
      vertical-align: top;
      margin-top: 15px;
      color: #888888;
    }

    .report_main {
      overflow: auto;

      div.tip {
        /* have to cancel the 800px width as it messes with the dashboard sizing */
        width: inherit;
      }
    }
  }
}
