form.option_set_form {

  // Hide the option levels and allow_coordinates at first.
  div.form-field {
    &[data-field-name=allow_coordinates],
    &[data-field-name=option_levels] {
      display: none;
    }
  }

  /* special case for add options widget */
  #options div.widget {
    vertical-align: top !important;
  }

  div.add_options {
    margin-bottom: 20px;
    width: 425px;

    ul {
      width: 320px;
    }

    input[type=text] {
      width: 350px;
    }

    input[type=button] {
      display: inline-block;
      margin-left: 5px;
      vertical-align: top;
      width: 92px;
    }
  }

  strong.and-n-more {
    font-size: 14px;
  }

  .draggable-list-wrapper {
    > ol {
      width: 421px;
    }
  }

  .value {
    color: $light-gray;
  }

  div.modal#edit-option {
    input[type=number] {
      // Make numeric inputs wider because some of them are GPS coordinates.
      width: 200px;
    }
  }
}
