form.question_form {
  margin-bottom: 50px;
}

.questions_index, .forms_choose_questions, .forms_edit {
  #index_table {
    .code_col {
      min-width: 100px;
    }

    .name_col {
      min-width: 400px;
    }

    .type_col {
      min-width: 100px;
      white-space: nowrap;
    }
  }
}

div.question_fields {

  textarea {
    direction: ltr;
  }

  textarea[id*=_ar], textarea[id*=_he] {
    direction: rtl;
  }

  .names_hints div.form-field div.control textarea[id*=_name_] {
    height: 55px;
  }

  .names_hints div.form-field div.control textarea[id*=_hint_] {
    height: 70px;
  }

  a.create_option_set {
    margin-left: 10px;
  }

  div.minmax {
    input.text[type=text] {
      width: 75px;
      display: inline-block;
    }

    div.control label {
      vertical-align: middle
    }
  }

  // Initially hidden fields
  .question_option_set_id, .question_auto_increment, .question_casted_minimum,
    .question_casted_maximum, .question_key {
    display: none;
  }
}

form.questioning_form {
  .form-field#condition {
    select, input {
      width: 317px;
      display: inline;
    }

    div.field {
      margin-bottom: 4px;

      label {
        display: inline-block;
        width: 100px;
        vertical-align: top;
        padding: 0;
      }

      div.cascading-selects {
        display: inline-block;
      }
    }
  }

  // Initially hidden fields
  .questioning_default {
    display: none;
  }
}

#create-option-set {
  z-index: 500;

  .modal-body {
    min-height: 400px;
  }

  #edit-option-set {
    .modal-body {
      min-height: 200px;
    }
  }
}

/* Override modal gem */
.modal-backdrop {
  z-index: 300 !important;
}

/* Special style for option set box to accommodate link */
div.form-field.question_option_set_id {

  div.control div.widget select {
    width: 260px;
    display: inline-block;
  }
}

ul.tags {
  padding: 0;
  li:hover { cursor: inherit; }
  &.clickable li:hover {
    cursor: pointer;
    background-color: $tag-color;
  }
}

.all-tags ul.tags {
  //background: $super-light-gray;
  //padding: 0 3px;
  max-height: 93px;
  overflow: auto;
}

.question_tag_ids .read-only {
  padding-top: 0;
}
