form.question_form {
  margin-bottom: 50px;
}

.questions_index,
.forms_choose_questions,
.forms_edit {
  .index_table {
    .code_col {
      min-width: 100px;
    }

    .name_col {
      min-width: 400px;
    }

    .type_col {
      min-width: 100px;
      white-space: nowrap;
    }
  }
}

.elmo-form .question_fields {
  textarea {
    direction: ltr;
  }

  textarea[id*=_ar],
  textarea[id*=_he] {
    direction: rtl;
  }

  .names_hints div.form-field div.control textarea[id*=_name_] {
    height: 55px;
  }

  .names_hints div.form-field div.control textarea[id*=_hint_] {
    height: 70px;
  }

  a.create_option_set {
    margin-left: 10px;
  }

  .minmax {
    .form-field .control .widget input.text[type=text] { // Needed for extra specificity
      display: inline-block;
      width: 75px;
    }

    div.control label {
      vertical-align: middle;
    }
  }

  // Initially hidden fields
  .question_option_set_id,
  .question_auto_increment,
  .question_casted_minimum,
  .question_casted_maximum,
  .question_key {
    display: none;
  }
}

form.questioning_form {
  .form-field#condition {
    select,
    input {
      display: inline;
      width: 317px;
    }

    div.field {
      margin-bottom: 4px;

      label {
        display: inline-block;
        padding: 0;
        vertical-align: top;
        width: 100px;
      }

      div.cascading-selects {
        display: inline-block;
      }
    }
  }

  // Initially hidden fields
  .questioning_default {
    display: none;
  }
}

#create-option-set {
  z-index: 500;

  .modal-body {
    height: 400px;
    overflow: auto;
  }

  #edit-option-set {
    .modal-body {
      min-height: 200px;
    }
  }
}

/* Override modal gem */
.modal-backdrop {
  z-index: 300 !important;
}

/* Special style for option set box to accommodate link */
div.form-field.question_option_set_id {
  div.control div.widget select {
    display: inline-block;
    width: 260px;
  }
}

.question_tag_ids .read-only {
  padding-top: 0;
}
