/* report index */
.reports_index .name_col { min-width: 300px; }

div.report-output-and-modal {
  width: 100%;
}

div.report-info div { display: inline-block;
  padding: 0 10px;
  border-#{$left}: 1px solid #ccc; }

div.report-info div:first-child { border: none;
  padding-#{$left}: 0; }
div.report-body div#row_count { margin-bottom: 5px; }

div.report-body table td,
div.report-body table th { border: $light-border;
  padding: 2px; }
div.report-body table td.string { text-align: left; }
div.report-body table td.number { text-align: right; }

div.report-body table th { background-color: $super-light-gray;
  font-size: 90%;
  padding: 2px 5px 2px 2px; }
div.report-body table td { background-color: $white; }
div.report-body table th.col { text-align: $left;  }

div.report-body table th.row { text-align: $left;
  white-space: nowrap; }

div.report-body table td.row_total,
div.report-body table td.col_total { background-color: $super-light-gray; }

div.report-body th.row_grouping_label,
div.report-body th.col_grouping_label { color: #888;
  font-weight: normal; }

div.report-body th.row_grouping_label > div { margin-left: 3px;
  overflow: hidden; }
div.report-body th.col_grouping_label { text-align: center; }

/* std form report */
div.report-body {
  table.report-meta {
    margin-bottom: 10px;

    td {
      border: none;
      padding: 3px 0;
    }

    td:first-child {
      color: #aaa;
      padding-right: 10px;
    }

    td:last-child {

    }
  }

  div.std-form-report-results {
    h2 {
      color: #444;
      font-size: 20px;
      margin-bottom: 0;
    }

    /* subset intro */
    small {
      color: #888;
      display: block;
      font-size: 11px;
      margin-bottom: 10px;
    }

    h3 {
      color: #888;
      font-size: 14px;
      margin-bottom: 10px;
    }

    em.no-match {
      color: #ccc;
    }

    div.subset.disaggregated {
      margin-left: 20px;
    }

    div.subset.group-by-tag {
      margin-left: 20px;
      &.disaggregated { margin-left: 40px; }

      .tag-header {
        margin-left: -20px;

        h3 {
          color: black;
          font-size: 16px;
        }
      }
    }

    table.subset {
      margin-bottom: 10px;
      min-width: 600px;
      page-break-inside: auto;

      /* widths cols depending on number of result cols */
      &.result-cols-1 { td.num { width: 4%; } td.qname { width: 40%; } td.structured { width: 50%; } }
      &.result-cols-2 { td.num { width: 4%; } td.qname { width: 40%; } td.structured { width: 25%; } }
      &.result-cols-3 { td.num { width: 4%; } td.qname { width: 40%; } td.structured { width: 20%; } }

      &.result-cols-4,
      &.result-cols-5 { td.num { width: 4%; } td.qname { width: 40%; } td.structured { width: 11%; } }

      &.result-cols-6,
      &.result-cols-7,
      &.result-cols-8 { td.num { width: 4%; } td.qname { width: 15%; } td.structured { width: 10%; } }

      /* no page breaks inside rows */
      tr {
        page-break-after: auto;
        page-break-inside: avoid;
      }

      tr.cluster-header td {
        background-color: #f2f2ff;
        color: #888;
        font-weight: bold;
      }

      tr.full-width-subhead td {
        background-color: $super-light-gray;
      }

      tr.summary {
        div.by-at {
          background-color: $super-light-gray;
          color: #888;
          float: right;
          font-size: 90%;
          margin: -8px -3px 3px 3px;
          padding: 2px 5px;

          a {
            color: #888;
          }
        }
      }

      td {
        padding: 8px 3px;
      }

      td.qname {
        min-width: 300px;
      }

      td.reference {
        text-align: center;
        width: 30px;
      }
    }
  }
}

.report_loading_icon {
  color: $theme-main;
  text-align: center;
}

/* report form */
#report-edit-modal {
  .report_edit_pane {
    display: none;
    margin-left: 8px;
    min-height: 436px;

    .alert {
      display: none;
    }

    .name.vert {
      display: block;
      margin-bottom: 10px;
    }
  }
}

div.report_edit_pane {
  div.section {
    div.name.horiz {
      display: inline-block;
      padding-right: 10px;
      text-align: right;
      vertical-align: middle;
      width: 250px;
    }

    div.controls.horiz {
      display: inline-block;
      vertical-align: middle;

      label {
        font-weight: normal;
      }
    }
  }
}

div.report_edit_pane label { display: inline-block; }
div.report_edit_pane input { display: inline-block; }

div.report_edit_pane input[type='radio'] { margin-right: 4px;
  vertical-align: top; }
div.report_edit_pane input[type='text'] { padding: 4px; }
div.report_edit_pane div.section { padding: 15px 0; }
div.report_edit_pane div.section:only-child { border-bottom: none; }
div.report_edit_pane div.section div.choice { display: inline-block; }
div.report_edit_pane div.section div.name { font-weight: bold; }
div.report_edit_pane div.section div.controls.vert { display: block; }
div.report_edit_pane div.section label { margin-right: 10px; }

div.report_edit_pane div.multiselect div.choices { background-color: #e6e6e6;
  border: 1px solid #888;
  overflow: auto;
  padding: 5px; }
div.report_edit_pane div.multiselect div.links { margin-top: 5px; }

div.report_edit_pane div.multiselect div.links a { display: inline-block;
  margin-right: 5px; }

div.report_edit_pane.report_type {
  input { vertical-align: top; }

  input[type='radio'] {
    float: left;
    margin-left: 3px;
    margin-top: 0;
  }

  label {
    display: block;
    font-weight: normal;
    margin-left: 30px;
  }

  h3 {
    color: $theme-main;
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 5px;
  }

  /* rows */
  div.controls > div {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  div.description {
    display: inline-block;
  }

  /* link to show examples */
  a {
    color: #aaa;
    display: inline-block;
    font-size: 11px;
    margin-left: 5px;
  }

  div.examples {
    display: none;
    margin-top: 10px;

    .ex_lbl {
      font-weight: bold;
      margin-bottom: 5px;
    }

    ul {
      line-height: 100%;
    }
  }
}

div.report_edit_pane.display_options div.section.display_type input { vertical-align: middle; }
div.report_edit_pane.display_options div.section.display_type label { margin-right: 15px; }
div.report_edit_pane.display_options div.section.display_type label > * { vertical-align: middle; }

div.report_edit_pane.display_options div.section.display_type label > i { color: $theme-main;
  display: inline-block;
  font-size: 24pt;
  line-height: 90%;
  margin-right: 5px;
  padding: 0; }
/* this icon is a bit bigger than the other one */
div.report_edit_pane.display_options div.section.display_type label > i.icon-bar-chart { color: $theme-main;
  font-size: 22pt;}

div.report_edit_pane.display_options div.section.tally_type {
  label {
    em {
      color: #888;
      display: block;
      font-size: 11px;
      font-style: normal;
      margin-bottom: 5px;
    }
  }

  .choice:last-child em {
    margin-bottom: 0;
  }
}

div.report_edit_pane.display_options input#report_title { font-size: 11pt;
  width: 300px;
}



div.report_edit_pane.form_selection div#form_select div.choices { height: 300px;
  width: 250px; }

div.report_edit_pane.question_selection div.q_sel_type { display: inline-block;
  margin-bottom: 10px;
  vertical-align: bottom;
  width: 300px; }

div.report_edit_pane.question_selection div.multiselect div.choices { height: 150px;
  margin-top: 5px;
  width: 250px; }

div.report_edit_pane.question_selection div.section {
  .name.horiz {
    width: 315px;
  }
}

div.report_edit_pane.fields {
  a.add {
    margin-top: 15px;
  }

  i {
    margin-left: 8px;
    vertical-align: middle;
  }

  select,
  a {
    margin-bottom: 10px;
  }
}

button.prev { display: none; }

@media print {
  div.report_edit_dialog,
  div.report_edit_pane {
    display: none !important;
  }
}
