form.setting_form {
  .adapter-settings .credential-fields {
    display: none;
  }

  .setting_generic_sms_config_str textarea {
    font-family: $font-family-monospace;
    font-size: 8pt;
  }

  #external_sql .control {
    pre {
      background-color: $pre-bg;
      border: 1px solid #ccc;
      font-size: 8pt;
      height: 100px;
      margin: 0 0 3px;
      overflow: auto;
      padding: 0.4rem;
      white-space: normal;
    }

    a {
      font-size: 9pt;
    }
  }
}
