.sms_index .index_table {
  .type_col {
    width: 100px;
  }

  .time_col {
    white-space: nowrap;
    width: 130px;
  }

  .to_col,
  .from_col {
    white-space: nowrap;

    small {
      color: #888;
    }
  }

  .to_col {
    width: 225px;
  }

  .from_col {
    width: 125px;
  }

  .body_col {
    max-width: 400px;
    word-wrap: break-word;

    > div {
      overflow: hidden;
      width: auto;
    }
  }

  .bold {
    font-weight: bold;
  }

  .direction_col {
    width: 50px;
  }

  .received_at_col {
    width: 130px;
  }

  .sent_at_col {
    width: 130px;
  }

  .adapter_name_col {
    width: 100px;
  }

  .error-msg {
    color: $error-red;
    font-weight: bold;
  }
}
