.sms_tests_new {
  form#new_sms_test {
    input#sms_test_from {
      width: 150px;
    }

    textarea {
      height: 75px;
    }

    h2 {
      margin-top: 0;
    }

    .sms_test_result {
      display: none;

      div {
        font-family: 'courier new', monospace;
      }
    }
  }
}
