<div class="report-pane">
  <% if @reports.empty? %>
    <div class="report-output">
      <%= t("dashboard.no_reports") %>
    </div>
  <% else %>
    <%# We don't use the modal but we have to use the partial with the modal for legacy reasons. %>
    <div class="report-output-and-modal">
      <%= render("reports/output_and_modal") %>
    </div>
  <% end %>
</div>
