<h2 class="interior"><%= translate_model(Report::Report) %>: <%= @report.name %></h2>
<% if can?(:update, @report) %>
  &nbsp;&nbsp;<%= action_link('edit', edit_report_path(@report), :title => I18n.t('report/report.edit_report')) %>
<% end %>
