<h2 class="interior">
  <span class="report_title_text"><%= t("report/report.loading_report") %></span>
</h2>
<span class="report_edit_link_container">
  &nbsp;&nbsp;<%= action_link(:edit, "#", label: false) %>
</span>
