<%# no need to cache this bit either because there's nothing here (done by JS) %>
<div class="response_locations"></div>
<div class="response_locations_offline" style="display: none"><%= t("common.map_offline") %></div>
<% if @location_answers_count > @location_answers.size %>
  <div class="response_locations_truncated">
    <%= t('dashboard.response_locations_truncated', shown: @location_answers.size, total: @location_answers_count) %>
  </div>
<% end %>
