<div>
  <a href="#" class="expand-map toggle-map">
    <i class="fa fa-expand"></i>
    <%= t("dashboard.expand_map") %>
  </a>
  <h2 class="interior">
    <%= t("dashboard.response_locations") %>
  </h2>
</div>
