<%= show_flash_and_form_errors %>

<p>Welcome to The Carter Center's Election Monitoring and Obeservation (CCEOM) Command Center.</p>

<% unless current_user %>
  <p><%= link_to("Click here", new_user_session_path) %> to login to the system!</p>
<% end %>
