<% content_for(:per_page_js){javascript_include_tag("welcome")} %>

<%= flash_and_form_errors %>

<%# use a partial so that just the blocks can be rendered on ajax request %>
<div id="blocks"><%= render("blocks") %></div>