<%= flash_and_form_errors %>

<%# use a partial so that just the blocks can be rendered on ajax request %>
<div id="blocks"><%= render("blocks") %></div>

<%= javascript_doc_ready do %>
  // setup minute reloading of page
  setInterval(function() { $('#blocks').load(Utils.build_path(""), 'auto=1'); }, 60000);
<% end %>