<div class="ro-val">
  <div class="cascading-selects">
    <% answer_set.option_node_path.nodes_without_root.each_with_index do |node, i| %>
      <div class="level">
        <% unless answer_set.option_node_path.blank? %>
          <% if answer_set.option_node_path.multilevel? %>
            <div class="option-level">
              <%= answer_set.option_node_path.level_name_for_depth(i + 1) %>
            </div>
          <% end %>
          <div class="option-name">
            <%# Show 'blank' for partially empty multilevel answers. %>
            <% if node.nil? %>
              <i>[<%= t('common.blank') %>]</i>
            <% else %>
              <%= node.option_name %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
