<div class="regenerate-container">
<span id="display-override_code"><%= form.object.override_code %></span> &nbsp;&nbsp;&nbsp;&nbsp;
<% unless form_mode == :show %>
  <input class="regenerate btn btn-default btn-xs"
    data-confirm="<%= t('setting.override_code_warning') %>"
    data-display-id="display-override_code"
    data-handler="regenerate_override_code"
    type="button" value="<%= t('common.regenerate') %>">
  <%= loading_indicator after: '<i class="fa fa-check-circle" style="display: none"></i><i class="fa fa-minus-circle" style="display: none"></i>' %>
<% end %>
</div>
