<ul class="list-group">
<% sms_adapters.each do |adapter| %>
  <li class="list-group-item">
    <h5>
      <%= adapter.service_name %>

      <%= content_tag(:span, icon_tag('incoming'), title: 'Incoming') %>
      <%= content_tag(:span, icon_tag('outgoing'), title: 'Outgoing') if adapter.can_deliver? %>
    </h5>
    <% unless adapter.settings.empty? %>
    <div>
      Settings:
      <% adapter.settings.each do |setting| %>
        <%= form.field(setting[:field], type: setting[:type]) %>
      <% end %>
    </div>
    <% end %>
  </li>
<% end %>
</ul>
