<%# Renders the answer sets for a form item, be it a group or a questioning. %>
<% if item.is_a?(QingGroup) %>
  <%# No point rendering an empty group. %>
  <% unless subtree.empty? %>
    <div class="qing-group">
      <h2>
        <%= item.group_name %>
        <% if item.group_hint.present? %>
          <a href="#" rel="popover" class="hint" data-content="<%= item.group_hint %>"/>
            <i class="hint fa fa-2x fa-info-circle"></i>
          </a>
        <% end %>
      </h2>

      <%# Render children. %>
      <% subtree.each do |subitem, subsubtree| %>
        <%= render 'form_item', item: subitem, subtree: subsubtree %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% unless item.hidden? %>
    <%= render 'answer_set', answer_set: @response.answer_set_for_questioning(item) %>
  <% end %>
<% end %>
