<div class="footer-row">
  <!-- Required by license, see example: https://enketo.github.io/enketo-core/index.html -->
  Powered by
  <a href="https://enketo.org">
    <img class="powered-by" style="height: 14px;" src="https://enketo.org/media/images/logos/enketo_bare_150x56.png" height="14">
  </a>
</div>
<div class="footer-row">
  &nbsp;
</div>
