<div id="enketo"></div>

<script>
  let transformed = <%= @transformed %>;
  console.debug("Transformed:", transformed);

  window.ENKETO_MODEL_STR = transformed.model;
  $("#enketo").html(transformed.form);
</script>

<%= javascript_pack_tag 'enketo' %>
