header {
  background-color: $header-background-color;

  nav.navbar-default {
    /* Override Bootstrap */
    background-color: $nav-background-color;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    border-color: $nav-border-color;
    height: 51px;

    /* For standard label in admin mode */
    .navbar-header.std {
      margin-left: 27px !important;
      text-transform: uppercase;
      color: $nav-text-color;
      margin: 18px 27px 0px 30px;
      font-weight: bold;
    }

    ul.navbar-nav {

      li {
        padding: 15px 6px 15px 6px;
        margin: side-values(0px 6px 0px 0px);

        &:hover, &:hover, &:focus {
          color: $link-text-color;
        }

        /* Overriding bootstrap navbar prefs */
        &.active a {
          background-color: transparent !important;
        }

        a {
          text-decoration: none;
          font-family: "Raleway";
          font-weight: bold;
          font-size: 11pt;
          display: inline-block;
          vertical-align: middle;
          padding: 0;
          color: $nav-text-color;

          &:hover, &:focus {
            text-decoration: none;
            color: $link-text-color !important;
          }

        }

        i {
          vertical-align: middle;
          margin-#{$right}: 5px;
          display: inline-block;
          color: $nav-icon-color;
          font-size: 13pt;
        }

        &.active {
          background-color: $nav-active-background-color;
        }

        &:hover {
          color: $link-text-color;
        }
      }

      .line {
        border-right: 1px solid $nav-icon-color;
        display: inline-block;
        width: 2px;
        height: 20px;
      }

      ul.dropdown-menu {
        top: 78%;
        left: 24px;
        li {
          font-weight: normal;
          font-family: $sans-serif;
          padding: 4px 9px 6px 15px;

          &:hover, &:focus {
            background: none;
          }
          a {
            font-weight: normal;
            font-family: $sans-serif;
            font-size: 10pt;
            display: block;

            &:hover, &:focus {
              background: none;
              color: $link-text-color;
            }
          }
        }
      }
      li.dropdown {
        padding-left: 28px;
      }
    }
  }
}
