/* general layout styles */
body {
  background-color: $body-background-color;
}

.alert-compact {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* Make link color same as text color in alert-info box */
.alert-info a {
  color: #31708f;
  text-decoration: underline;
}

.users_edit .ro-val {
  font-family: monospace;
}

#userinfo {
  color: $white;
  text-align: right;
  padding-right: 5px;
  margin-top: 19px;
  height: 25px;
  float: right;

  a {
    color: $white;
  }

  a.login {
    color: $gray;
    margin: 10px 22px 0 0;
  }

  .icon-btn {
    display: inline-block;
    min-width: 60px;
    max-width: 90px;
    margin: 0 5px 0 5px;
    text-align: center;
    vertical-align: top;

    // @include if-rtl {
    //   float: right;
    // }

    a:hover {
      color: $light-blue;
      text-decoration: none;
    }

    .admin-mode {
      color: $light-yellow;
    }
  }

  div, span {
    display: inline-block;
  }

  div.operations {
    display: block;
    text-align: left;
    margin: 5px;

    .icon-operation {
      margin-right: 0.5em;
    }
  }

  form#change_mission {
    select {
      font-size: 9pt;
      vertical-align: top;
      display: inline-block;
      width: 190px;
      height: 31px;
      margin-right: 10px;
    }
  }
}

#title {
  color: $white;
  margin: 10px 0 10px 15px;
  display: inline-block;

  > div {
    display: inline-block;
    vertical-align: top;
  }

  img {
    display: inline-block;
    margin: 12px 0 12px 12px;
    height: 54px;  /* explicit height to prevent shifting during load */
    vertical-align: bottom;
  }

  a { color: $white; text-decoration: none; }
  h1 { font-size: 40px; color: $white; line-height: 1; display: inline-block; margin: 0 10px 5px 0; }
  h2 {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    width: 300px;
    margin: 0;
    color: $light-blue;
    display: inline-block;
    text-transform: lowercase;
    vertical-align: bottom;
    line-height: 24px;
    padding-bottom: 12px;

    /* trophy icon */
    i {
      font-size: 22px;
    }
  }
}

#content {
  padding: 20px 25px 30px 25px;
  min-height: 400px;
  background-color: $white;
  .index_table a i.fa { color: $primary-icon-color; }
  .index_table a i.fa:hover { color: darken($primary-icon-color, 20%) }
}

#footer {
  padding-top: 108px;
  vertical-align: middle;
  background-color: $footer-background-color;
  color: $footer-text-color;
  text-align: center;
  height: 300px;

  a {
    color: $link-text-color;
  }

  //workaround for arabic display order issue
  #locale_form_link {
    display: inline-block;
  }

  #locale_form {
    display: none;
  }

  div.site_by {
    margin-top: 10px;
    padding: 3px;
    text-align: right;
  }
}

div.dialog_bg { background-color: black; opacity: 0.6; filter: alpha(opacity=60); left: 0; top: 0; position: absolute; }
div.dialog_bg * { opacity: 1; filter: alpha(opacity=100); }

#login_instructions {
  #preamble {
    width: 600px;
    margin-bottom: 20px;
  }

  #instructions {
    width: 600px;
    border: 1px solid #888888;
    padding: 10px;
  }
}
/* hide printable things */
.printable { display: none; }

/* report view */
.reports_new h1.title, .reports_show h1.title { display: inline-block; }

body.reports {
  div.report_view {
    display: table-row;
  }

  div.report_main {
    display: table-cell;
    vertical-align: top;
  }
}

#api-users {
  display: none;

  #api-users-scrollbox {
    border: 1px solid #dddddd;
    padding: 4px;
    overflow-y: scroll;
    height: 150px;
    width: 420px;

    label {
      display: block;
    }
  }
}
