/* general layout styles */
$nav_width: 135px;

body { 
  background-color: #888; 
}

#userinfo { 
  color: white;
  text-align: right;
  padding-right: 5px;
  margin-top: 2px;
  height: 25px;
  
  a, form.button_to input { 
    color: white; 
  }
  
  form { 
    display: inline;
    
    select { 
      font-size: 9pt; 
    }
  }
}

#title {
  color: white;
  margin: 10px 0 20px $nav_width;
  
  > div {
    display: inline-block;
    vertical-align: top;
  }

  img {
    display: block;
    height: 15px; /* explicit height to prevent shifting during load */
  }
  
  a { color: white; text-decoration: none; }
  h1 { font-size: 40px; line-height: 1; margin: 0 10px 5px 0; }
  h2 { font-size: 22px; width: 300px; margin: 0; color: white; text-transform: uppercase; vertical-align: top; }
}

#nav {
  width: $nav_width;
  color: white;
  float: left;
  
  .standard_label {
    margin-left: 10px;
    text-transform: uppercase;
    color: #ccc;
  }

  ul { 
    font-weight: bold; 
    padding: 0 5px 5px 5px;
    margin: 0 10px 5px 10px;
    list-style-type: none;
    border-bottom: 1px solid #ccc;

    &.indented {
      padding-left: 10px;
    }

    &:last-child {
      border: none;
    }

    li {
      margin: 0;
      padding: 3px 0;

      a {
        text-decoration: none; 
        color: white;

        &:hover { 
          text-decoration: none; 
          color: #0065d1; 
        }
      }

      &.active a {
        color: #bdf;
      }
    }
  }
}

#content {
  margin-left: $nav_width;
  padding: 15px 15px 30px 15px; 
  min-height: 400px; 
  background-color: white; 
}

#footer {
  padding: 5px;
  color: #ddd;
  text-align: right;
  height: 25px;
  margin-left: $nav_width;
  
  * { 
    vertical-align: top;
  }
  
  a { 
    color: #ddd; 
  }
  
  #locale_form { 
    display: none; 
  }
  
  #dev_mode_warning { 
    color: white; 
    padding: 2px; 
    font-weight: bold; 
    background-color: #d02000; 
    display: inline-block;
  }

  div.site_by {
    margin-top: 10px;
    padding: 3px;
    text-align: right;
  }
}

div.dialog_bg { background-color: black; opacity: 0.6; filter: alpha(opacity=60); left: 0; top: 0; position: absolute; }
div.dialog_bg * { opacity: 1; filter: alpha(opacity=100); }

/* login instructions */
#login_instructions #preamble { width: 600px; margin-bottom: 20px; }
#login_instructions #instructions { width: 600px; border: 1px solid #888; padding: 10px; }
#login_instructions #instructions p { margin-top: 0; }
  
/* flash and error messages */

div.status_messages.no_ajax {
  div.success, div.error { 
    position: absolute; 
    left: 27%; 
    top: 106px; 
    padding: 3px; 
    color: white; 
    font-weight: bold; 
    width: 600px; 
    margin-bottom: 10px; 
    text-align: center;
  }
  
  div.success { 
    background-color: #9dc400; 
  }

  div.error { 
    background-color: #d02000; 
  }
}

div.status_messages.ajax {
  div.success, div.error { 
    padding: 3px; 
    color: white; 
    font-weight: bold; 
    margin-bottom: 10px; 
  }
  
  div.success { 
    background-color: #9dc400; 
  }

  div.error { 
    background-color: #d02000; 
  }
}

/* hide printable things */
.printable { display: none; }

/* report view */
.report_reports_new h1.title, .report_reports_show h1.title { display: inline-block; }
#report_load_ind { margin: 10px 0 0 10px; }
.report_top_links { margin-bottom: 10px; }

body.reports {
  div.report_view {
    display: table-row;
  }
  
  div.report_links {
    display: table-cell;
    padding: 0 15px 0 0; line-height: 150%; 
    a { display: block; white-space: nowrap; }
  }
  
  div.report_main {
    display: table-cell;
    vertical-align: top;
  }
}

/* dont show the printable title */
div.sms_guide h1.printable { display: none; }
div.sms_guide { max-width: 900px; }
div.sms_guide div.header { margin-top: -40px; }
div.sms_guide div.controls { margin-bottom: 10px; }
div.sms_guide div.controls form { display: inline-block; margin-right: 10px; }
div.sms_guide div.controls a { display: inline-block; }