/* general layout styles */
$nav_width: 135px;
$light-blue: #D9ECF7;
$light-yellow: #F7F6D9;
$orange: #F77D48;
$gray-blue: #D4DCE1;
$gray: #3F3E3E;
$light-gray: #BDB9B9;
$elmo-blue: #879CAA;
$sans-serif: 'Open Sans', Helvetica, sans-serif;

body {
  background-color: #879CAA;

  .fa-pencil {
    color: $elmo-blue;
  }
}

.users_edit .ro-val {
  font-family: monospace;
}

#userinfo {
  color: white;
  text-align: right;
  padding-right: 5px;
  margin-top: 19px;
  height: 25px;
  float: right;

  a {
    color: white;
  }

  a.login {
    color: $gray;
    margin: 10px 22px 0 0;
  }

  .icon-btn {
    display: inline-block;
    min-width: 60px;
    max-width: 90px;
    margin: 0 5px 0 5px;
    text-align: center;
    vertical-align: top;

    a:hover {
      color: $light-blue;
      text-decoration: none;
    }

    .admin-mode {
      color: $light-yellow;
    }
  }

  span {
    display: inline-block;
  }

  form#change_mission {
    display: inline;

    select {
      font-size: 9pt;
      vertical-align: top;
      display: inline-block;
      width: 190px;
      height: 31px;
      margin-right: 10px;
    }
  }
}

#title {
  color: white;
  margin: 10px 0 10px 15px;
  display: inline-block;

  > div {
    display: inline-block;
    vertical-align: top;
  }

  img {
    display: inline-block;
    margin: 12px 0 12px 12px;
    height: 54px;  /* explicit height to prevent shifting during load */
    vertical-align: bottom;
  }

  a { color: white; text-decoration: none; }
  h1 { font-size: 40px; color: white; line-height: 1; display: inline-block; margin: 0 10px 5px 0; }
  h2 {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    width: 300px;
    margin: 0;
    color: #D9ECF7;
    display: inline-block;
    text-transform: lowercase;
    vertical-align: bottom;
    line-height: 24px;
    padding-bottom: 12px;

    /* trophy icon */
    i {
      font-size: 22px;
    }
  }
}


nav {
  /* Override Bootstrap */
  margin-bottom: 0px !important;
  border-radius: 0px !important;
  height: 51px;

  /* For standard label in admin mode */
  .navbar-header.std {
    margin-left: 27px !important;
    text-transform: uppercase;
    color: $light-gray;
    margin: 18px 27px 0px 30px;
    font-weight: bold;
  }

  ul.navbar-nav {

    li {
      padding: 15px 6px 15px 6px;
      margin: 0px 6px 0px 0px;

      a:hover, &:hover, &:focus {
        color: $orange;
      }

      /* Overriding bootstrap navbar prefs */
      &.active a {
        background-color: $light-blue !important;
      }

      a {
        text-decoration: none;
        font-family: "Raleway";
        font-weight: bold;
        font-size: 11pt;
        display: inline-block;
        vertical-align: middle;
        padding: 0;

        &:hover, &:focus {
          text-decoration: none;
          color: $orange !important;
        }

      }

      i {
        vertical-align: middle;
        margin-right: 5px;
        display: inline-block;
        color: $light-gray;
        font-size: 13pt;
      }

      &.active {
        background-color: $light-blue;
      }

      &:hover {
        color: $light-blue;
      }
    }

    .line {
      border-right: 1px solid $light-gray;
      display: inline-block;
      width: 2px;
      height: 20px;
    }

    ul.dropdown-menu {
      top: 78%;
      left: 24px;
      li {
        font-weight: normal;
        font-family: $sans-serif;
        padding: 4px 9px 6px 15px;

        &:hover, &:focus {
          background: none;
        }
        a {
          font-weight: normal;
          font-family: $sans-serif;
          font-size: 10pt;

          &:hover, &:focus {
            background: none;
            color: $orange;
          }
        }
      }
    }
    li.dropdown {
      padding-left: 28px;
    }
  }
}

#content {
  padding: 20px 25px 30px 25px;
  min-height: 400px;
  background-color: white;
  a i { color: $elmo-blue; }
  .index_table a i.fa:hover { color: darken($elmo-blue, 20%) }
}

#footer {
  padding-top: 108px;
  vertical-align: middle;
  background-color: $gray-blue;
  color: gray;
  text-align: center;
  height: 300px;

  a {
    color: $orange;
  }

  #locale_form {
    display: none;
  }

  div.site_by {
    margin-top: 10px;
    padding: 3px;
    text-align: right;
  }
}

div.dialog_bg { background-color: black; opacity: 0.6; filter: alpha(opacity=60); left: 0; top: 0; position: absolute; }
div.dialog_bg * { opacity: 1; filter: alpha(opacity=100); }

/* login instructions */
#login_instructions #preamble { width: 600px; margin-bottom: 20px; }
#login_instructions #instructions { width: 600px; border: 1px solid #888; padding: 10px; }
#login_instructions #instructions p { margin-top: 0; }

/* hide printable things */
.printable { display: none; }

/* report view */
.reports_new h1.title, .reports_show h1.title { display: inline-block; }

body.reports {
  div.report_view {
    display: table-row;
  }

  div.report_main {
    display: table-cell;
    vertical-align: top;
  }
}

#api-users {
  display: none;

  #api-users-scrollbox {
    border: 1px solid #dddddd;
    padding: 4px;
    overflow-y: scroll;
    height: 150px;
    width: 420px;
    .checkbox-row {
      margin-bottom: 7px;
    }
  }
}

/* dont show the printable title */
div.sms_guide h1.printable { display: none; }
div.sms_guide { max-width: 900px; }
div.sms_guide div.header { margin-top: -40px; }
div.sms_guide div.controls { margin-bottom: 10px; }
div.sms_guide div.controls form { display: inline-block; margin-right: 10px; }
div.sms_guide div.controls a { display: inline-block; }
