/* general layout styles */
$nav_width: 135px;

body { 
  background-color: #879CAA; 
}

#userinfo { 
  color: white;
  text-align: right;
  padding-right: 5px;
  margin-top: 2px;
  height: 25px;
  
  a, form.button_to input { 
    color: white; 
  }
  
  form { 
    display: inline;
    
    select { 
      font-size: 9pt; 
    }
  }
}

#title {
  color: white;
  margin: 10px 0 10px $nav_width;
  
  > div {
    display: inline-block;
    vertical-align: top;
  }

  img {
    display: inline-block;
    height: 54px; /* explicit height to prevent shifting during load */
    vertical-align: bottom;
    padding-bottom: 25px;
  }
  
  a { color: white; text-decoration: none; }
  h1 { font-size: 40px; color: white; line-height: 1; display: inline-block; margin: 0 10px 5px 0; }
  h2 { 
    font-size: 24px; 
    font-family: "Raleway", sans-serif; 
    width: 300px; 
    margin: 0; 
    color: #D9ECF7; 
    display: inline-block; 
    text-transform: lowercase; 
    vertical-align: bottom; 
    line-height: 24px; 
    padding-bottom: 23px; 
  }
}

#nav {
  width: $nav_width;
  color: white;
  float: left;
  
  .standard_label {
    margin-left: 10px;
    text-transform: uppercase;
    color: #ccc;
  }

  ul { 
    font-weight: bold; 
    padding: 0 5px 5px 5px;
    margin: 0 10px 5px 10px;
    list-style-type: none;
    border-bottom: 1px solid #ccc;

    &.indented {
      padding-left: 10px;
    }

    &:last-child {
      border: none;
    }

    li {
      margin: 0;
      padding: 3px 0;

      a {
        text-decoration: none; 
        color: white;

        &:hover { 
          text-decoration: none; 
          color: #0065d1; 
        }
      }

      &.active a {
        color: #bdf;
      }
    }
  }
}

#content {
  margin-left: $nav_width;
  padding: 15px 15px 30px 15px; 
  min-height: 400px; 
  background-color: white; 
}

#footer {
  padding: 5px;
  color: #ddd;
  text-align: right;
  height: 25px;
  margin-left: $nav_width;
  
  * { 
    vertical-align: top;
  }
  
  a { 
    color: #ddd; 
  }
  
  #locale_form { 
    display: none; 
  }
  
  #dev_mode_warning { 
    color: white; 
    padding: 2px; 
    font-weight: bold; 
    background-color: #d02000; 
    display: inline-block;
  }

  div.site_by {
    margin-top: 10px;
    padding: 3px;
    text-align: right;
  }
}

div.dialog_bg { background-color: black; opacity: 0.6; filter: alpha(opacity=60); left: 0; top: 0; position: absolute; }
div.dialog_bg * { opacity: 1; filter: alpha(opacity=100); }

/* login instructions */
#login_instructions #preamble { width: 600px; margin-bottom: 20px; }
#login_instructions #instructions { width: 600px; border: 1px solid #888; padding: 10px; }
#login_instructions #instructions p { margin-top: 0; }
  
/* flash and error messages */

div.status_messages.no_ajax {
  div.success, div.error { 
    position: absolute; 
    left: 27%; 
    top: 106px; 
    padding: 3px; 
    color: white; 
    font-weight: bold; 
    width: 600px; 
    margin-bottom: 10px; 
    text-align: center;
  }
  
  div.success { 
    background-color: #9dc400; 
  }

  div.error { 
    background-color: #d02000; 
  }
}

div.status_messages.ajax {
  div.success, div.error { 
    padding: 3px; 
    color: white; 
    font-weight: bold; 
    margin-bottom: 10px; 
  }
  
  div.success { 
    background-color: #9dc400; 
  }

  div.error { 
    background-color: #d02000; 
  }
}

/* hide printable things */
.printable { display: none; }

/* report view */
.report_reports_new h1.title, .report_reports_show h1.title { display: inline-block; }
#report_load_ind { margin: 10px 0 0 10px; }
.report_top_links { margin-bottom: 10px; }

body.reports {
  div.report_view {
    display: table-row;
  }
  
  div.report_links {
    display: table-cell;
    padding: 0 15px 0 0; line-height: 150%; 
    a { display: block; white-space: nowrap; }
  }
  
  div.report_main {
    display: table-cell;
    vertical-align: top;
  }
}

/* report form */
div.report_edit_dialog { width: 650px; height: 451px; }
div.report_edit_pane { width: 650px; display: none; }
div.report_edit_pane div.pane_scroll { overflow-y: auto; height: 370px; border-top: 1px solid #ddd; }
div.report_edit_pane label { display: inline-block; }
div.report_edit_pane input { display: inline-block; }
div.report_edit_pane input[type='radio'] { margin-right: 4px; }
div.report_edit_pane input[type='text'] { padding: 4px; }
div.report_edit_pane .error_box { margin-top: 5px; color: white; background-color: #d02000; padding: 3px; display: none; font-weight: bold; }
div.report_edit_pane div.section { border-bottom: 1px solid #ddd; padding: 10px 0; }
div.report_edit_pane div.section:only-child { border-bottom: none; }
div.report_edit_pane div.section div.choice { display: inline-block; }
div.report_edit_pane div.section div.name { font-weight: bold; }
div.report_edit_pane div.section div.name.horiz { float: left; width: 250px; }
div.report_edit_pane div.section div.controls.horiz { margin-left: 250px; }
div.report_edit_pane div.section div.name.vert { display: block; margin-bottom: 10px; }
div.report_edit_pane div.section div.controls.vert { display: block; }
div.report_edit_pane div.section label { margin-right: 10px; }
div.report_edit_pane div.multiselect div.choices { overflow: auto; background-color: #e6e6e6; border: 1px solid #888; padding: 5px; }
div.report_edit_pane div.multiselect div.links { margin-top: 5px; }
div.report_edit_pane div.multiselect div.links a { display: inline-block; margin-right: 5px; }

div.report_edit_pane.report_type input { vertical-align: top; }
div.report_edit_pane.report_type input[type='radio'] { margin-left: 3px; float: left; }
div.report_edit_pane.report_type label { display: block; margin-left: 30px; }
div.report_edit_pane.report_type h3 { font-size: 11pt; margin-bottom: 5px; color: #0065d1; }
div.report_edit_pane.report_type .ex_lbl { vertical-align: top; margin-bottom: 5px; font-size: 90%; }
div.report_edit_pane.report_type ul { line-height: 100%; }

div.report_edit_pane.display_options div.section.display_type input { vertical-align: middle; }
div.report_edit_pane.display_options div.section.display_type label { margin-right: 15px; }
div.report_edit_pane.display_options div.section.display_type label > * { vertical-align: middle; }
div.report_edit_pane.display_options div.section.display_type label > i { font-size: 24pt; color: #0065d1; display: inline-block; margin-right: 5px; padding: 0; line-height: 90%; }
/* this icon is a bit bigger than the other one */
div.report_edit_pane.display_options div.section.display_type label > i.icon-bar-chart { font-size: 22pt; }

div.report_edit_pane.form_selection div#form_select div.choices { height: 300px; width: 250px; }

div.report_edit_pane.question_selection div.q_sel_type { margin-bottom: 10px; vertical-align: bottom; width: 300px; display: inline-block; }
div.report_edit_pane.question_selection div.multiselect div.choices { height: 150px; width: 250px; margin-top: 5px; }

div.report_edit_pane.report_title input { width: 400px; font-size: 11pt;  }

div.report_edit_dialog .buttons { text-align: right; border-top: 1px solid #ddd; padding-top: 10px; }
div.report_edit_dialog .buttons a { display: inline-block; margin: 0 0 0 10px; padding: 10px; font-size: 120%; font-weight: bold; width: 110px; text-align: center; 
    background-color: #ddd; border: 1px solid #888; color: #444; text-decoration: none; }

/* dont show the printable title */
div.sms_guide h1.printable { display: none; }
div.sms_guide { max-width: 900px; }
div.sms_guide div.header { margin-top: -40px; }
div.sms_guide div.controls { margin-bottom: 10px; }
div.sms_guide div.controls form { display: inline-block; margin-right: 10px; }
div.sms_guide div.controls a { display: inline-block; }