production:
  adapter: mysql2
  database: elmo_p
  host: localhost
  username: elmo
  password: xxx

test:
  adapter: mysql2
  database: elmo_t
  host: localhost
  username: elmo
  password: xxx

development:
  adapter: mysql2
  database: elmo_d
  host: localhost
  username: elmo
  password: xxx
