mysql2psql:
  mysql:
    host: 127.0.0.1
    port: 3306
    username: elmo
    password: pass123
    database: elmo_production

  destination:
    production:
      adapter: postgresql
      encoding: utf8
      pool: 4
      host: /var/run/postgresql
      database: elmo_production

  # If suppress_data is true, only the schema definition will be exported/migrated, and not the data
  suppress_data: false

  # If suppress_ddl is true, only the data will be exported/imported, and not the schema
  suppress_ddl: false

  # If force_truncate is true, forces a table truncate before table loading
  force_truncate: true

  preserve_order: false

  remove_dump_file: true

  dump_file_directory: /tmp

  report_status: json    # false, json, xml

  # If clear_schema is true, the public schema will be recreated before conversion
  # The import will fail if both clear_schema and suppress_ddl are true.
  clear_schema: false
