# This is the preferred location for local configuration.
# config/initializers/local_config.rb is deprecated.
#
# Settings in this file can also be set using environment variables.
# For instance, the AWS access_key_id can be set with NEMO__AWS__ACCESS_KEY_ID.

paperclip:
  # Set to 'cloud' to use cloud storage with AWS.
  # Set to 'local' to store files locally.
  storage: local

aws:
  # These are only required when using cloud storage.
  access_key_id: "XXXXXXXXXXXXXXXX"
  secret_access_key: "XXXXXXXXXXXXXXXX"
  region: "us-east-1"
  bucket: "your-bucket-name"

# Max upload size in MiB (1 MiB = 2^20 bytes).
# This should match the client_max_body_size setting in nginx.conf, which is the ultimate authority.
max_upload_size_mib: 50
