test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

amazon:
  service: S3
  access_key_id: <%= ENV['NEMO_AWS_ACCESS_KEY_ID'] || Settings.aws.access_key_id %>
  secret_access_key: <%= ENV['NEMO_AWS_SECRET_ACCESS_KEY'] || Settings.aws.secret_access_key %>
  region: us-east-1
  bucket: <%= ENV['NEMO_AWS_BUCKET'] || Settings.aws.bucket %>
