# max_matches below is 1000000 due to the way fulltext search is done
# fear not, that many ruby objects are never instantiated at once
development:
  mysql41: 9306
  max_matches: 1000000
  html_strip: true
test:
  mysql41: 9307 # should be on different port than development
  max_matches: 1000000
  html_strip: true
production:
  mysql41: 9306
  max_matches: 1000000
  html_strip: true
