<div>
  <%- report.question_labels == 'title' ? summary.questioning.name : summary.questioning.code %>

  <!-- Show message to indicate that not all text answers are being shown -->
  <% if (summary.items.length > 0 && summary.items.length == report.raw_answer_limit && summary.items[0].text) { %>
    (<%- I18n.t('report/report.showing_limited_answers', {count: summary.items.length}) %>)
  <% } %>
</div>

<div class="condition_info">
  <% condition_info = []; %>
  <% if (summary.questioning.condition) { %>
    <% condition_info.push(I18n.t('report/report.answered_only_if') + ' ' + summary.questioning.condition.decorate.human_readable); %>
  <% } %>
  <% if (summary.questioning.referring_condition_ranks.length > 0) { %>
    <% condition_info.push(I18n.t('report/report.see_dependent_questions', {count: summary.questioning.referring_condition_ranks.length}) + ' ' +
      summary.questioning.referring_condition_ranks.map(function(r){ return '#' + r; }).join(', ')); %>
  <% } %>
  <%- condition_info.join('; ') %>
</div>
