$body-text-color: #222;

$theme-red: #d02000;
$theme-green: #9dc400;

$elmo-blue: #879CAA;
$elmo-darker-blue: #02648A;

$tag-color: #EAE175;

$gold: #E4BB54; // don't theme this
$gray: #3F3E3E;
$gray-blue: #D4DCE1;
$light-blue: #D9ECF7;
$light-yellow: #F7F6D9;
$light-gray: #BDB9B9;
$lighter-gray: #CCCCCC;
$orange: #F77D48;
$super-light-gray: #F0F0F0;
$white: white;
