$body-text-color: #222;

$theme_red: #d02000;
$theme_green: #9dc400;
$theme_blue: #0065d1;

$elmo-blue: #879CAA;
$elmo-darker-blue: #02648A;

$list-item-background: #eee;

$gold: #E4BB54;
$gray: #3F3E3E;
$gray-blue: #D4DCE1;
$light-blue: #D9ECF7;
$light-yellow: #F7F6D9;
$light-gray: #BDB9B9;
$orange: #F77D48;
$super-light-gray: #F0F0F0;
