$body-text-color: #222;

$theme-red: #d02000;
$theme-green: #9dc400;

$elmo-blue: #879CAA;
$elmo-darker-blue: #02648A;

$tag-color: #EAE175;

$gold: #E4BB54; // don't theme this
$gray: #3F3E3E;
$gray-blue: #D4DCE1;
$light-blue: #D9ECF7;
$light-yellow: #F7F6D9;
$light-gray: #BDB9B9;
$lighter-gray: #CCCCCC;
$orange: #F77D48;
$super-light-gray: #F0F0F0;
$white: white;

// New color definitions
$body-background-color: $elmo-blue;
$header-background-color: $elmo-blue;
$header-text-color: inherit;

$footer-background-color: $gray-blue;
$footer-text-color: gray;

$body-text-color: $body-text-color;
$link-text-color: $orange;

$primary-icon-color: $elmo-blue;
$primary-icon-hover-color: darken($elmo-blue, 20%);

$primary-btn-background-color: $orange;
$primary-btn-text-color: white;

$primary-btn-hover-background-color: darken($primary-btn-background-color, 10%);
$primary-btn-hover-text-color: white;

$nav-background-color: #F8F8F8;
$nav-active-background-color: $light-blue;
$nav-text-color: #777;
$nav-icon-color: #bdb9b9;
$nav-border-color: #E7E7E7;
