/* elmo forms variables */
$elmo-form-width: 760px;
$label-width: 200px;

/* responses variables */
$response-form-label-width: 300px;
$group-indent: 10px;

/* sms guide variables */
$answer-unit-width: 20;
$answer-box-border: 2px dashed #222;

/* screen varibales */
$nav_width: 135px;
