// Defines colors that are be independent of the theme.
$body-text-color: #222;
$tag-color: #EAE175;
$gold: #E4BB54;
$gray: #3F3E3E;
$gray-blue: #D4DCE1;
$light-blue: #D9ECF7;
$light-yellow: #F7F6D9;
$mid-gray: #888888;
$light-gray: #BDB9B9;
$lighter-gray: #CCCCCC;
$orange: #F77D48;
$super-light-gray: #F0F0F0;
$white: white;
$gray-text: #777;
$deemphasized-link-color: #ccc;
$light-border-color: #ddd;
$light-border: 1px solid $light-border-color;
