// WARNING: All theme variables should appear here and optionally be also overridden in theme files.
// If a new color is added to a theme and not here, folks with custom themes in the wild will get an
// undefined variable error when they upgrade.
$body-text-color: #222;
$tag-color: #EAE175;
$gold: #E4BB54;
$gray: #3F3E3E;
$gray-blue: #D4DCE1;
$light-blue: #D9ECF7;
$light-yellow: #F7F6D9;
$mid-gray: #888888;
$light-gray: #BDB9B9;
$lighter-gray: #CCCCCC;
$orange: #F77D48;
$faint-gray: #eee;
$super-light-gray: #F0F0F0;
$light-background-color: $super-light-gray;
$white: white;
$gray-text: #777;
$deemphasized-link-color: #ccc;
$light-border-color: #ddd;
$light-border: 1px solid $light-border-color;

$theme-red: #d02000;
$theme-green: #9dc400;
$theme-main: #879CAA;
$theme-main-darker: #02648A;

$body-background-color: $theme-main;
$header-background-color: $body-background-color;
$header-text-color: inherit;
$light-background-color: #eef2f7;

$footer-background-color: $gray-blue;
$footer-text-color: gray;

$body-text-color: $body-text-color;
$link-text-color: $orange;

$primary-icon-color: $body-background-color;
$primary-icon-hover-color: darken($primary-icon-color, 20%);

$primary-btn-background-color: $link-text-color;
$primary-btn-text-color: white;

$primary-btn-hover-background-color: darken($primary-btn-background-color, 10%);
$primary-btn-hover-text-color: white;

$nav-background-color: #F8F8F8;
$nav-active-background-color: $light-blue;
$nav-text-color: #777;
$nav-icon-color: #bdb9b9;
$nav-border-color: #E7E7E7;

// For pills/tokens like user groups or question tags.
// Not all instances of pills/tokens obey this yet.
$pill-background-color: $light-blue;
$pill-background-hover-color: darken($light-blue, 10%);
$pill-border-color: darken($light-blue, 20%);
$pill-text-color: $body-text-color;
