// WARNING: All theme variables should appear here and optionally be also overridden in theme files.
// If a new color is added to a theme and not here, folks with custom themes in the wild will get an
// undefined variable error when they upgrade.

// Variable/theme system:
// - This file defines 1. custom vars and 2. any bootstrap vars that may be needed in other places
//   in this file itself, or 2. needed in the theme file.
// - The theme files (e.g. _nemo_theme.scss) override any custom or bootstrap vars as desired.
// - _bootstrap.scss assigns theme vars to various bootstrap properties (e.g. it might assign the link color
//   to the button background color). It does so using !default so that it doesn't override any
//   customizations in the theme.

// See https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
// for a list of bootstrap variables you can override.

$tag-color: #eae175;
$gold: #e4bb54;
$gray: #3f3e3e;
$gray-blue: #d4dce1;
$light-blue: #d9ecf7;
$light-yellow: #f7f6d9;
$mid-gray: #888;
$light-gray: #bdb9b9;
$lighter-gray: #ccc;
$faint-gray: #eee;
$super-light-gray: #f0f0f0;
$even-lighter-gray: #f6f6f6;
$light-background-color: $super-light-gray;
$white: #fff;
$gray-text: #777;
$lighter-gray-text: #ccc;
$light-border-color: #ddd;
$light-border: 1px solid $light-border-color;
$error-red: #d02000;
$success-green: #00b710;

$theme-main: #879caa;
$accent-color: #444; // Used for things like primary buttons and links.
$text-over-accent-color: color-yiq($accent-color);
$darker-accent-color: #02648a;
$deemphasized-accent-color: #ccc;
$header-background-color: $theme-main;
$light-background-color: #eef2f7;
$footer-background-color: $gray-blue;
$footer-text-color: $mid-gray;
$main-text-color: #222;

$nav-background-color: #f8f8f8;
$nav-active-background-color: $light-blue;
$nav-text-color: #777;
$nav-icon-color: #bdb9b9;
$nav-border-color: #e7e7e7;

// For pills/tokens like user groups or question tags.
$pill-background-color: $light-blue;
$pill-background-hover-color: darken($light-blue, 10%);
$pill-border-color: darken($light-blue, 20%);
$pill-text-color: $main-text-color;

// A limit on how wide forms can be before they start to look silly.
// Other components can use this if they want to align with forms.
$max-form-width: 760px;
