.response-form .metadata {
  background-color: $super-light-gray;
  margin-bottom: 20px;
  padding: 20px;

  h3 {
    margin-bottom: 10px;
  }

  .form-field {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  label {
    margin-bottom: 0;
  }
}
