// Styles for all HTML forms, whether they're "elmo forms" or special ones with different styles.
form {
  margin: 0;

  .submit-buttons {
    margin-top: 20px;
    text-align: $right;
  }

  .btn {
    padding: 6px 25px;
  }
}

input[type='radio'],
input[type='checkbox'] {
  background-color: transparent;
  border: 0;
}
