.filters {
  margin-bottom: 4px;
}

// TODO: Contain these classes within .filters
.select2-container {
  width: 100% !important;

  .select2-dropdown {
    z-index: 9999;
  }
}

.popover {
  width: auto !important;
  min-width: 200px;
  max-width: 50vw;

  .btn-apply-container {
    // Same as padding-bottom for the popover-container.
    margin-top: 9px;
    text-align: right;
  }
}
