<%= render("layouts/flash", {:flash => flash}) %>

<div class="tip">
  Found <strong><%= @broadcasts.total_entries %></strong> broadcasts.
  <%= link_to_if_auth("Send Broadcast", new_broadcast_path, "broadcasts#create") %>
</div>

<%= render("layouts/index_table", :objects => @broadcasts, :fields => %w[to medium sent_at errors? message actions]) %>