<form class="search_form">
  Search: <input type="text" name="search" value="<%= search.str %>" id="search_str">
  <input type="submit" value="Search">
  <% unless search.str.blank? %>
    <input type="button" value="Clear" id="clear_button">
  <% end %>
  <br/>
  <%= search_examples(search) %>
</form>
