#export-csv-modal {
  .error_box,
  .media-info {
    margin-top: 10px;
  }

  .calculating-info {
    display: none;
  }

  .download-types {
    .form-field {
      border: 0;
    }

    p {
      margin-top: 10px;
    }
  }
}
