.responses_index .index_table {
  td.form_id_col {
    width: 200px;
  }

  td.user_id_col {
    width: 150px;
  }

  td.reviewed_col {
    a {
      color: $main-text-color;
    }

    i.fa {
      margin-right: 5px;
      color: $success-green;
    }
  }
}

// Highlighted search match
em.match {
  background-color: $light-yellow;
  font-style: normal;
}
