.responses_index .index_table {
  @include reviewed-response-col;

  td.form_id_col {
    width: 200px;
  }

  td.user_id_col {
    width: 150px;
  }

  // Search excerpt
  tr.second_row td {
    border-top: none !important;
    color: #aaa;
    padding-top: 0;

    p {
      margin-bottom: 3px;
      margin-top: 0;
    }

    p:last-child {
      margin: 0;
    }
  }
}

// Highlighted search match
em.match {
  background-color: $light-yellow;
  font-style: normal;
}
