.btn-primary {
  color: $text-over-accent-color;

  &:hover,
  &:focus,
  &:active,
  &:visited,
  &:disabled {
    color: $text-over-accent-color;
  }
}

// Remove Bootstrap button styling to make it look like a regular <a>
.btn-link.btn-a {
  padding: 0;
  border: 0;
  vertical-align: baseline;
  cursor: pointer;
}
