table.index_table {
  $cell-top-bot-padding: 6px;

  &.index-table-narrow {
    width: auto;
    min-width: 66%;
  }

  tr:first-child td {
    border-top: none;
  }

  tr:last-child td {
    border-bottom: $light-border;
  }

  td {
    vertical-align: middle;

    border-top: $light-border;
    padding-top: $cell-top-bot-padding;
    padding-bottom: $cell-top-bot-padding;
    padding-#{$left}: 3px;
    padding-#{$right}: 20px;

    &.action {
      padding-#{$right}: 10px;
    }

    /* many of the cells are links, and they are harder to read if they are orange, so revert to blue */
    a {
      color: $theme-main-darker;
      padding: 5px 0;
    }
  }

  // For cells with tags, we remove padding and add it back on a span.text inside the cell.
  // This prevents the tags from making the row too high.
  td.has-tags {
    padding-bottom: 0;
    padding-top: 0;

    span.text {
      display: inline-block;
      padding-top: $cell-top-bot-padding;
      padding-bottom: $cell-top-bot-padding;
    }
  }

  td.actions_col { white-space: nowrap; }

  td.actions_col img {
    margin-right: 5px;
  }

  tbody tr.clickable {
    cursor: pointer;
  }

  tbody tr:hover, tbody tr.hovered {
    background-color: #ECF1F5;
  }

  i.fa-certificate {
    margin-bottom: -5px;
    font-size: 1.5em;
  }

  .tags {
    display: inline;
    line-height: 2.1;
    margin-left: 3px;
    vertical-align: middle;
    li {
      float: none;
      display: inline;
    }
    i.fa-certificate { font-size: 1em; }
  }
}

table.index_table th,
table.form th {
  background-color: $super-light-gray;
  color: #444;
  font-size: 90%;
  padding: 3px 10px 3px 3px;
  text-align: $left;
}
