table.index_table {
  $cell-top-bot-padding: 6px;

  min-width: 66%;

  tr:first-child td {
    border-top: none;
  }

  tr:last-child td {
    border-bottom: $light-border;
  }

  td {
    height: 34px; // Ensure height is consistent even if icons not present.
    vertical-align: middle;

    border-top: $light-border;
    padding-top: $cell-top-bot-padding;
    padding-bottom: $cell-top-bot-padding;
    padding-#{$left}: 3px;
    padding-#{$right}: 20px;

    &.action {
      padding-#{$right}: 10px;
    }

    a {
      color: $darker-accent-color;
      padding: 5px 0;
    }
  }

  // For cells with tags, we remove padding and add it back on a span.text inside the cell.
  // This prevents the tags from making the row too high.
  td.has-tags {
    padding-bottom: 0;
    padding-top: 0;

    span.text {
      display: inline-block;
      padding-top: $cell-top-bot-padding;
      padding-bottom: $cell-top-bot-padding;
    }
  }

  td.action {
    white-space: nowrap;
    width: 1px; // These shouldn't scale out on wider screens.
  }

  tbody tr.clickable {
    cursor: pointer;
  }

  tbody tr:hover, tbody tr.hovered {
    background-color: #ECF1F5;
  }

  i.fa-certificate {
    margin-bottom: -5px;
    font-size: 1.5em;
  }
}

table.index_table th,
table.form th {
  background-color: $super-light-gray;
  color: #444;
  font-size: 90%;
  padding: 3px 10px 3px 3px;
  text-align: $left;
}
