html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: $left;
}

header {
  background-color: $header-background-color;
}

#userinfo {
  color: $white;
  float: $right;
  height: 25px;
  margin-top: 19px;
  text-align: right;
  padding-#{$right}: 5px;

  a {
    color: $white;
  }

  a.login {
    color: $gray;
    margin: side-values(10px 22px 0 0);
  }

  .icon-btn {
    display: inline-block;
    margin: 0 5px;
    max-width: 90px;
    min-width: 60px;
    text-align: center;
    vertical-align: top;

    a:hover {
      color: $light-blue;
      text-decoration: none;
    }

    .admin-mode {
      color: $light-yellow;
    }

    ul.dropdown-menu {
      a {
        color: $gray;
        font-family: $font-family-sans-serif;
        font-size: 10pt;
      }

      a:hover,
      a:focus {
        background: none;
        color: $accent-color;
      }

      li {
        margin-bottom: 0;
        padding-bottom: 6px;
        padding-left: 15px;
        padding-right: 9px;
        padding-top: 4px;
      }
    }


  }

  div,
  span {
    display: inline-block;
  }

  div.operations {
    display: block;
    margin: 5px;
    text-align: $left;

    .icon-operation {
      margin-#{$right}: 0.5em;
    }
  }

  #change-mission {
    display: inline-block;
    font-size: 9pt;
    height: 31px;
    vertical-align: top;
    width: 190px;
    margin-#{$right}: 10px;
  }
}

#title-container {
  clear: both;
  overflow: auto;

  span.label {
    display: inline-block;
    font-size: 10px;
    margin: 0.25em 0.5em;
    padding: 0.5em 0.8em;
    vertical-align: middle;
  }

  h1.title {
    color: #777;
    font-weight: bold;
    margin-bottom: 20px;
    margin-#{$right}: 10px;

    i {
      color: $light-gray;
      margin-#{$right}: 5px;
    }
  }

  // std seal in title
  h1.title img {
    height: 16px;
    width: 16px;
  }
}

#logo {
  color: $white;
  display: inline-block;
  margin: side-values(10px 0 10px 15px);

  // Don't allow the large bounding box to obstruct other header links.
  pointer-events: none;

  > div {
    display: inline-block;
    vertical-align: top;
  }

  img {
    display: inline-block;
    height: 54px;  /* explicit height to prevent shifting during load */
    margin: 12px 0 12px 12px;

    // Undo 'none' on the parent div.
    pointer-events: all;
    vertical-align: bottom;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  h1 {
    color: $white;
    display: inline-block;
    font-size: 40px;
    line-height: 1;
    margin: 0 10px 5px 0;
  }

  h2 {
    color: $light-blue;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding-bottom: 12px;
    text-transform: lowercase;
    vertical-align: bottom;
    width: 300px;

    /* trophy icon */
    i {
      font-size: 22px;
    }
  }
}

#content {
  background-color: $white;
  flex: 1 0 auto;
  padding: 20px;
}

#footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  flex-shrink: 0;
  padding: 20px;
  text-align: center;

  a {
    color: $accent-color;
  }

  //workaround for arabic display order issue
  #locale_form_link {
    display: inline-block;
  }

  #locale_form {
    display: none;
  }

  .powered-by {
    vertical-align: inherit;
  }
}
