///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
// THIS FILE IS DEPRECATED AND NEEDS TO BE SPLIT INTO MANAGEABLE CHUNKS
// IF YOU WORK ON ANY OF THESE STYLES, PLEASE MOVE THEM OUT OF HERE
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////

ul { margin-top: 0;
  padding-left: 20px; }
li { margin-bottom: 5px; }
table { border-collapse: collapse; }
td { vertical-align: top; }

/* multi-purpose */
div.subtitle { color: #888;
  margin: -10px 0 10px; }

div.tip { margin-bottom: 10px;
  width: 800px; }

div.important { color: Black;
  font-weight: bold; }

div.dialog { background-color: $white;
  border: 1px solid #555;
  padding: 10px;
  position: absolute; }
div.dialog h2 { margin: 0 0 10px; }
.translation_missing { color: $error-red; }

/* loading indicator */
div.loader { background: image-url('loader.gif') no-repeat;
  padding-left: 20px; }

div.inline-load-ind {
  display: inline-block;

  width: 20px;

  .success {
    color: $success-green;
  }

  .failure {
    color: $error-red;
  }
}

i.fa-certificate {
  color: $gold;
}

/* option edit */
.options_edit td.value input#option_value,
.options_new td.value input#option_value { width: 100px; }

/* option set new/edit/show */
.option_sets_edit div.optcol,
.option_sets_new div.optcol,
.option_sets_show div.optcol { float: left;
  margin-right: 20px; }

/* broadcasts */
textarea#broadcast_body { height: 170px; }

.broadcasts_show #send_errors div.control { color: $error-red;
  font-weight: bold; }
.broadcasts_show #send_errors div.control p { margin: 0; }

/* form edit */
.forms_edit td.name_col,
.forms_show td.name_col { width: 500px; }
.forms_edit td.rank_col input { width: 25px; }
.forms_edit #save_ranks_button { margin-top: -15px; }

/* form choose questions */
.forms_choose_questions div.question_form { display: none; }

.users_edit .ro-val {
  font-family: monospace;
}
