// General layout styling for printing.
@media print {
  // Previously provided by normalize.css but removed in BS4.
  *,
  ::after,
  ::before {
    background: 0 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: rgb(0, 0, 0) !important;
    text-shadow: none !important;
  }

  // Previously provided by normalize.css but removed in BS4.
  a[href]::after {
    content: ' (' attr(href) ')';
  }

  body,
  #content {
    background-color: unset;
    margin: 0;
    padding: 0;
  }

  @page {
    /* print margins */
    margin: 15mm;
  }
}
