/* search form */
form.search_form {
  margin-bottom: 10px;

  .search-container{
    clear: both;
    margin: 0px;

    &-label{
      padding: 5px 5px 5px 0px;
      font-size: 10pt;
    }
    div[class^="col"]{
      padding: 0px 5px;

      &:first-of-type{
        padding-left: 0px;
      }
    }
    .row{
      padding-bottom: 5px;
      margin: 0px;
    }
    .date-icon{
      font-size: 14pt;
      position: absolute;
      right: 10px;
      top: 6px;
    }
    .add-question{
      line-height: 28px;
    }
    .form-control{
      height: 28px
    }
    .select2-selection--single{
      height: 28px;
    }
    .select2-selection__rendered{
      line-height: 22px;
    }
    input.btn {
      background-color: $gray-blue;
      padding: 4px 4%;
    }

    @media (max-width: 767px){

      position: relative;
      margin-bottom: 35px;

      div[class^="col"]{
        margin-bottom: 5px;
        padding: 0px;
      }
      .row{
        padding-bottom: 0px;
      }

      .desktop{
        display: none;
      }

      .search-button{
        position: absolute;
        width: 100%;
        bottom: -35px;

        input.btn {
          width: 49%;
          margin-bottom: 0px;
          &:first-of-type{
            margin-right:2%;
          }
          &:only-child {
              width: 100%;
              margin-right: 0px;
          }
        }
      }
    }
  }
  

  div.search-footer {

    #search_examples {
      margin: 4px 8px 10px 0;
      color: #666;
      display: inline-block;
      font-size: 8pt;
    }
  }
}

/* search help */
#search-help-modal {
  .modal-body {
    overflow: auto;
    max-height: 500px;
  }
}
