form.search-form {
  margin-bottom: 10px;

  input.search-str {
    width: 500px;
    margin-#{$right}: 5px;
    padding: 3px;
  }

  .form-control, .btn {
    height: 28px;
  }

  #search_examples {
    margin: 4px 8px 10px 0;
    color: #666;
    display: inline-block;
    font-size: 8pt;
  }
}

#search-help-modal {
  .modal-body {
    overflow: auto !important;
    max-height: 500px !important;
  }
}
