.all-tags {
  max-height: 93px;
  overflow: auto;
}

.tags {
  display: inline;
}

.index_table td .tags {
  margin-#{$left}: 5px;
}

// Be careful when editing this mixin as it is included with .token-input-token-elmo
// which is quite sensitive.
@mixin tag {
  overflow: hidden;
  height: auto !important;
  padding: 1px 3px;
  border: 1px solid $pill-border-color;
  background-color: $pill-background-color;
  color: $pill-text-color;
  cursor: default;
  font-size: 12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;

  a {
    color: $pill-text-color;
    padding: 0;

    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    background-color: $pill-background-hover-color;
    cursor: inherit;
  }

  &.clickable:hover {
    cursor: pointer;
  }
}

.badge-custom {
  font-size: 100%; // Display full-size instead of shrinking to tiny 75%.
  font-weight: normal;
  margin-left: 2px;
  color: $pill-text-color;
  background-color: $pill-background-color;
  border: 1px solid $pill-border-color;

  &.clickable:hover {
    color: $pill-text-color;
    background-color: $pill-background-hover-color;
    cursor: pointer;
  }
}

.all-tags .badge-custom {
  margin-bottom: 6px;
  margin-#{left}: 0;
  margin-top: 6px;
  margin-#{$right}: 6px;
}
