// Increased specificity to override default icon styles
.form-items #form-items-header {
  @include top-action-links;

  #saving-message {
    color: #aaa;
    display: none;
    float: right;
  }
}

.form-items-list {
  counter-reset: item;
  padding-left: 0;

  &,
  ol {
    counter-reset: rank;
  }

  li {
    background: none;
    border: none;
    display: block;
    list-style-position: inside;
  }

  .form-item {

    position: relative;

    .hidden-curtain {
      display: none;
    }

    &.form-item-question .inner,
    &.form-item-group .inner {
      cursor: pointer;
    }

    &.form-item-disabled {
      .hidden-curtain {
        background-color: $white;
        bottom: 0;
        display: block;
        opacity: 0.7;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
      }

      // When being dragged.
      &.ui-sortable-helper {
        .hidden-curtain {
          bottom: -5px;
          // Not sure why this is needed but it is, on chrome at least
          top: 5px;
        }
      }
    }

    .type,
    .actions {
      color: $theme-main;
    }

    .inner {
      display: table;
      padding: 2px 5px;
      position: relative; // Needed so we can make action icons pop up over curtain.
      width: 100%;

      > * {
        display: table-cell;
      }
    }

    // We use table within a table so wrapping works nicely.
    .base-info .wrapper {
      display: table;

      i.fa {
        color: $theme-main;
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    // This is the question rank, e.g 8., or 2.1.1.
    .base-info .wrapper::before {
      content: counters(rank, '.') '. ';
      counter-increment: rank;
      display: table-cell;
      padding: 0 5px;
      text-align: right;
      width: 20px;
    }

    .base-info .wrapper > div {
      display: table-cell;
      line-height: 20px;
    }

    .actions {
      text-align: $right;
      white-space: nowrap;
      padding-#{$left}: 5px;

      .refd-qing-links,
      .skip-rule-links,
      .hidden-icon {
        display: inline-block;
        margin-right: 10px;
      }

      .refd-qing,
      .skip-rule-link {
        display: inline-block;

        &:not(:last-of-type)::after {
          content: ',';
        }
      }
    }

    .standardized,
    .type {
      font-size: 16px;
    }

    .standardized {
      padding: 5px 0 0 2px;
      width: 20px;
    }

    .type {
      padding-top: 2px;
      text-align: center;
      width: 20px;

      i {
        vertical-align: middle;
      }
    }

    .condition {
      color: #888;
    }

    .operator {
      margin-left: 0.25em;
      margin-right: 0.25em;
    }

    .required-sym {
      color: $accent-color;
    }

    .token-input-token-elmo {
      float: none;
    }
  }
}
