// Increased specificity to override default icon styles
.form-items #form-items-header {
  @include action-links;

  #saving-message {
    display: none;
    float: right;
    color: #aaa;
  }
}

.form-items-list {
  padding-left: 0;
  counter-reset: item;

  &, ol {
    counter-reset: rank;
  }

  li {
    list-style-position: inside;
    border: none;
    display: block;
    background: none;
  }

  .form-item {

    position: relative;

    .hidden-curtain {
      display: none;
    }

    &.form-item-question .inner {
      cursor: pointer;
    }

    &.form-item-hidden {
      .hidden-curtain {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: $white;
        opacity: 0.7;
        z-index: 2;
      }

      // When being dragged.
      &.ui-sortable-helper {
        .hidden-curtain {
          // Not sure why this is needed but it is, on chrome at least
          top: 5px;
          bottom: -5px;
        }
      }
    }

    .type, .actions {
      color: $theme-main;
    }

    .inner {
      display: table;
      width: 100%;
      padding: 2px 5px;
      position: relative; // Needed so we can make action icons pop up over curtain.

      > * {
        display: table-cell;
      }
    }

    // We use table within a table so wrapping works nicely.
    .base-info .wrapper {
      display: table;

      i.fa {
        margin-left: 5px;
        margin-right: 5px;
        color: $theme-main;
      }
    }

    // This is the question rank, e.g 8., or 2.1.1.
    .base-info .wrapper::before {
      counter-increment: rank;
      content: counters(rank, '.') '. ';
      width: 20px;
      text-align: right;
      display: table-cell;
      padding: 0 5px;
    }

    .base-info .wrapper > div {
      display: table-cell;
      line-height: 20px;
    }

    .actions {
      text-align: $right;
      white-space: nowrap;

      .refd-qing-links,
      .skip-rule-links {
        display: inline-block;
        margin-right: 10px;
      }

      .refd-qing,
      .skip-rule-link {
        display: inline-block;

        &:not(:last-of-type)::after {
          content: ',';
        }
      }
    }

    .standardized, .type {
      font-size: 16px;
    }

    .standardized {
      width: 20px;
      padding: 5px 0 0 2px;
    }

    .type {
      width: 20px;
      text-align: center;
      padding-top: 2px;

      i {
        vertical-align: middle;
      }
    }

    .condition {
      color: #888888;
    }
    .operator {
      margin-left: 0.25em;
      margin-right: 0.25em;
    }

    .required-sym {
      color: $orange;
    }

    .token-input-token-elmo {
      float: none;
    }
  }
}
