.forms_index .index_table {
  td.name_col {
    min-width: 200px;
  }

  td.status_col {
    white-space: nowrap;
  }

  tr.status-draft {
    td {
      background-color: $even-lighter-gray;
    }
  }
}

form.form_form {
  .sms-fields,
  .form_recipients {
    display: none; // Initially hidden
  }

  ul.admin-stats {
    list-style: none;
    margin: 5px 0 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 5px 0 0;
    }
  }
}

.status-live {
  .status-circle {
    color: $success-green;
  }
}

.status-paused {
  .status-circle {
    color: $gold;
  }
}

// dl can be used for non bulleted lists of things in a read only form view.
// These styles put 20px of space between each dt, but not on either end.
.widget {
  dl {
    margin-bottom: 0;
  }

  dt {
    margin-top: 20px;
  }

  dt:first-of-type {
    margin-top: 0;
  }

  dd {
    margin: 0;
  }
}
