@media print {
  // The outer title on forms pages should be hidden since we include it separately.
  .forms_index,
  .forms_show,
  .forms_edit {
    h1.title {
      display: none;
    }
  }

  #printable-form {
    h1.title {
      display: block;
      margin-bottom: 3px;

      i {
        margin-#{$right}: 5px;
      }
    }

    img.logo {
      float: right;
      height: 0.3in;
    }

    div.mission {
      margin-bottom: 10px;
    }

    table {
      page-break-after: auto;
      width: 100%;

      tr {
        page-break-after: auto;
        page-break-inside: avoid;

        &.conditional td {
          color: #999;
        }
      }

      td {
        /* Fractional border widths don't work on some browsers */
        border-top: 1px solid #aaa !important;
        font-size: 8pt;
        line-height: 12pt;
        margin-bottom: 3px;
        padding: 0;

        &.name {
          width: 50%;
        }

        &.answer {
          vertical-align: middle;
          width: 50%;
        }
      }
    }

    tr.qing-group {
      td {
        background-color: #ddd !important;
      }
    }

    tr.depth {
      &.depth-2 td.name {
        border-left: 20px solid $light-border-color;
      }

      &.depth-3 td.name {
        border-left: 40px solid $light-border-color;
      }

      &.depth-4 td.name {
        border-left: 60px solid $light-border-color;
      }
    }

    div.qing-code {
      text-align: right;
    }

    div.condition {
      font-weight: bold;
    }

    .skip-rule {
      font-weight: bold;
    }

    div#reqd_message {
      float: right;
    }

    div.reqd-sym {
      display: inline-block;
      font-size: 125%;
      font-weight: bold;
      line-height: 5px;
      vertical-align: middle;
    }

    .option {
      float: left;
      margin-right: 20px;
    }

    .option_box,
    .answer_box {
      background-color: #ccc !important;
    }

    .option_box {
      float: left;
      height: 0.15in;
      margin-right: 2px;
      width: 0.15in;
    }

    .answer_box {
      height: 0.2in;
    }

    td.integer_answer,
    td.decimal_answer {
      .answer_box {
        width: 1.5in;
      }
    }

    td.signature_answer .answer_box {
      height: 0.3in;
    }

    td.sketch_answer .answer_box {
      height: 1in;
    }

    .hint {
      color: #888;
      font-style: italic;
    }
  }
}
