$body-background-color: #6C89BC;
$header-background-color: $body-background-color;
$header-text-color: inherit;

$footer-background-color: #AFCDEF;
$footer-text-color: gray;

$body-text-color: $body-text-color;
$link-text-color: $body-background-color;

$primary-icon-color: $body-background-color;
$primary-icon-hover-color: darken($primary-icon-color, 20%);

$primary-btn-background-color: $link-text-color;
$primary-btn-text-color: white;

$primary-btn-hover-background-color: darken($primary-btn-background-color, 10%);
$primary-btn-hover-text-color: white;

$nav-background-color: #F8F8F8;
$nav-active-background-color: $light-blue;
$nav-text-color: #777;
$nav-icon-color: #bdb9b9;
$nav-border-color: #E7E7E7;
