<!--  <div class="draggable-list-wrapper">
    <ol class="form-items-list item-list">
      <%# @form.children.each do |item| %>
        <%#= render('form_item', item: item) %>
      <%# end %>
    </ol>
  </div>
-->

<ol class="item-list">
  <% group.children.each do |item| %>
    <%= render('form_item', item: item) %>
  <% end %>
</ol>
