<group appearance="field-list">
  <label><%= qing.first.parent.group_name %></label>
  <% grid_mode = qing.first.parent.grid_mode?(qing) %>

  <% if grid_mode %>
    <%= render('odk_questioning', qing: qing.first, grid_mode: grid_mode, label_row: true) %>
  <% end %>

  <% qing.each do |q| %>
    <%= render('odk_questioning', qing: q, grid_mode: grid_mode) unless q.hidden %>
  <% end %>
</group>
