<% @title_args = {name: @form.name} %>

<% unless questions.empty? %>
  <div class="question_list">
    <%= index_table(questions, klass: Question, no_whole_row_link: true) %>
  </div>
<% end %>

<div class="question_form">
  <% unless questions.empty? %>
    <div class="index-links">
      <%= link_to(t("form.back_to_questions"), "#", class: "question_list") %>
    </div>
  <% end %>
  <%= render("questionings/form") %>
</div>

<%= javascript_doc_ready do %>
  new ELMO.FormQuestionChooser();
<% end %>
