body.dashboard {
  div.stats {
    overflow-x: auto;
    display: flex;
  }

  div.stat-block {
    margin-right: 25px;
    vertical-align: top;

    h2 {
      max-width: 200px;
      white-space: normal;
    }

    ul {
      font-size: 16px;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        overflow: hidden;
        white-space: nowrap;
      }

      a {
        color: $darker-accent-color;
        text-decoration: none;
      }
    }
  }
}
