<div class="dz-preview dz-file-preview">
  <div class="dz-details">
    <img data-dz-thumbnail />
    <div class="dz-filename"><span data-dz-name></span></div>
    <div class="dz-size" data-dz-size></div>
    <%= link_to(content_tag(:i, "", class: 'fa fa-trash-o'), "#", data: { "dz-remove" => "" }) %>
  </div>
  <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
  <div class="dz-success-mark"><span>✔</span></div>
  <div class="dz-error-mark"><span>✘</span></div>
  <div class="dz-error-message"><span data-dz-errormessage></span></div>
</div>
