<div id="dropzone-<%= index %>" class="dropzone">
  <%= hidden_field_tag("#{prefix}[media_object_id]", answer.media_object_id) %>
</div>

<%= javascript_doc_ready do %>
  new ELMO.Views.MediaUploaderView(<%=json(
    el: "#dropzone-#{index}",
    zone_id: "dropzone#{index.camelize.capitalize}", # Dropzone likes camel case
    post_path: media_create_path(type: answer.qtype.media_type.pluralize)
  )%>);
<% end %>
