<div class="qing-group-instance">
  <h2><%= item.group_name %></h2>

  <%# Render children. %>
  <% subtree.each do |subitem, subsubtree| %>
    <%= render 'responses/answers/answer_set', answer_set: subsubtree, group_number: group_number %>
  <% end %>
  <% unless read_only %>
    <a href='#' class="remove-instance"><%= "#{t('common.remove')} #{item.group_name}" %></a>
  <% end %>
</div>
