<div class="qing-group">
  <h2><%= item.group_name %></h2>

  <%# Render children. %>
  <% subtree.each do |subitem, subsubtree| %>
    <%= render 'responses/answers/answer_set', answer_set: subsubtree %>
  <% end %>
</div>
