[Unit]
Description=delayed_job
After=syslog.target
After=postgresql.service

[Service]
Type=forking
User=deploy
Environment=RAILS_ENV=production
Environment=PATH=/home/deploy/.rbenv/plugins/ruby-build/bin:/home/deploy/.rbenv/shims:/home/deploy/.rbenv/bin:/usr/local/bin:/usr/bin:/bin

WorkingDirectory=/home/deploy/elmo
ExecStart=/home/deploy/elmo/bin/delayed_job start -n 1
ExecStop=/home/deploy/elmo/bin/delayed_job stop
TimeoutSec=120

[Install]
WantedBy=multi-user.target
