<div id="field_dropdowns">
  <% @report.fields.each do |field| %>
    <%= fields_for("report_report[fields_attributes][]", Report::Field.new(field.attributes)) do |fields_form| %>
      <div>
        <%# use a dummy select option for this select field as it will get copied and replaced by JS immediately %>
        <%= fields_form.select(:full_id, [["dummy", field.full_id]], :include_blank => true) %>
        <a href="#" class="remove_field">Remove</a>
      </div>
    <% end %>
  <% end %>
</div>
<a href="#" class="add_field">Add</a>