<div class="tip report_info"></div>
<div class="report_body"></div>

<%= javascript_doc_ready do %>
  ELMO.app.report_controller = new ELMO.Report.ReportController(<%=j @report_data.to_json.html_safe %>);
<% end %>
