<div class="tip">
  <%= controller.action_name == 'map_all' ? link_to_if_auth("Add new place", new_place_path, "places#create") : "" %>
</div>

<div id="map_canvas"></div>

<script type="text/javascript">
var markers = [
<%= @places.collect do |p|
  "{id: #{p.id}, latitude: #{p.latitude}, longitude: #{p.longitude},
  info: #{render('map_marker_info', :place => p).to_json}}"
   end.join(",").html_safe %>
];
draw_map(markers, <%= @bounds.to_json.html_safe %>);

</script>

