<div class="item">
  <%# render the main partial %>
  <%= render(:partial => partial, :locals => {
        :"#{obj_name}" => collection_form_item, 
        :parent_form => parent_form
      }) %>

  <%# add a delete link %>
  &nbsp;<%= action_link("destroy", "#", :class => "delete_item_link") %>
</div>