<% if flash && !flash.empty? %>
  <div id="flash" class="<%= flash.keys.first.to_s %>">
    <%= flash.values.first %>
  </div>
<% end %>
<% if defined?(object) %>
  <%= render("layouts/object_errors", :object => object) %>
<% end %>