<%# Display flash errors or succeses if any %>
<% flash.each do |name, msg| %>
  <%# only output flash keys that have css classes defined for them %>
  <% if flash_class(name) %>
    <div class="<%= flash_class(name) %>">
      <strong><%= t("common.#{name}.one") %></strong>: <%= msg %>
    </div>
  <% end %>
<% end %>
