<div class="status_messages <%= ajax_request? ? 'ajax' : 'no_ajax' %>">
  <%# Display flash errors or succeses if any %>
  <% flash.each do |name, msg| %>
    <%# Check if translation exists %>
    <% if !I18n.t("common.#{name}.one", :default => "").empty? %>
      <div id="elmo-alert" class="<%= flash_class(name) %>">
        <strong><%= I18n.t("common.#{name}.one") %></strong>: <%= msg %>
      </div>
    <% end %>
  <% end %>
</div>
