<% unless objects.total_entries == 0 %>
	<table class="big_list">
		<tr>
			<% fields.each do |f| %>
				<th><%= f.gsub("_", " ").capitalize %></th>
			<% end %>
		</tr>
	<% objects.each do |o| %>
		<tr>
			<% fields.each do |f| %>
				<% cls = "#{f.gsub(/[^\w\d]/, "")}_col" %>
				<td class="<%= cls %>">
					<%= self.send("format_#{o.class.to_s.underscore}_field", o, f) %>
				</td>
			<% end %>
		</tr>
	<% end %>
	</table>
	<br/>
	<%= will_paginate(objects) %>
<% end %>