<div class="boilerplate">
  <div class="location_picker">
    <h2>Choose Location</h2>
    <div class="tip">
      <span class="cur_lat_lng"></span> |
      <%= link_to("Accept", "#", :class => "accept_link") %> |
      <%= link_to("Cancel", "#", :class => "cancel_link") %> 
    </div>
    <div class="map_canvas"></div>
    <form class="location_search">
      <input type="text" class="query" name="query" value=""/>
      <%= loading_indicator %>
      <div class="results">
        Enter a query into the box above to search for a location in Google's geo-database.
      </div>
    </form>
  </div>
</div>