// WARNING: See _base.scss for documentation about the theme variable system before modifying this file.

$theme-main: #879caa;
$theme-main-darker: #02648a;
$header-background-color: $theme-main;
$footer-background-color: $gray-blue;
$link-color: #f77d48;
