// WARNING: See _base.scss for documentation about the theme variable system before modifying this file.

$theme-main: #879caa;
$header-background-color: $theme-main;
$footer-background-color: $gray-blue;
$accent-color: #f77d48;
$text-over-accent-color: $white; // Bootstrap defaults to high-contrast text but it doesn't look good on orange.
$darker-accent-color: #02648a;
