// WARNING: See _base.scss for documentation about the theme variable system before modifying this file.

$theme-main: #879caa;
$header-background-color: $theme-main;
$footer-background-color: $gray-blue;
$accent-color: #3699bf;
$text-over-accent-color: $white;
$darker-accent-color: #02648a;
