// WARNING: See _base.scss for documentation about the theme variable system before modifying this file.

$theme-main: #879caa;
$header-background-color: #6C89BC;
$footer-background-color: #AFCDEF;
$link-color: #6C89BC;
$darker-link-color: #6C89BC;
