// WARNING: See _base.scss for documentation about the theme variable system before modifying this file.

$theme-main: #879caa;
$header-background-color: #6c89bc;
$footer-background-color: #afcdef;
$accent-color: #6c89bc;
$darker-accent-color: #4e6691;
